<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lukard Adventures</title>
    <link rel="shortcut icon" href="images/lukardventuresFavicon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    {{!--
    <link rel="stylesheet" href="css/bootstrap.min.css"> --}}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="fonts/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <!--Navigation-->
    <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="images/lukardVenturesLogo.png " alt="logo"
                    style=" height: 80px; width: 120px; background-color: rgb(255, 255, 254);">
            </a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarResponsive">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse text-right" id="navbarResponsive">
                <ul class="navbar-nav ml-auto ">
                    <li class="nav-item ">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="/story">Venture 1</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="/lovestory">Venture 2</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/angry">Venture 3</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/fear">Venture 4</a>
                    </li>
                </ul>
            </div>

        </div>
    </nav>

    <!--slider images-->

    <!--JUmbotron-->

    <!--welcome-->


    <!--Three column selection-->

    <!--Two column section-->
    <div class="container">
        <h1 style="text-align: center;">I AM ANGRY</h1>
        <hr style="width: 100%; border: 10px solid #051e58;">
        <div class="row padding">
            <div class="col-md-12 col-lg-6">

                <p>
                    I am weird. Maybe that would explain a lot around me that just gets me off. I have this burning
                    anger that just sprouts whenever stupid people do stupid things in my vicinity. Yes, I can call them
                    stupid because I am weird and I know that is their description.
                </p>
                <p>
                    In many of my episodes, I have made mention of the fact that I was a nerd for half of my academic
                    life. So, I kind of had half of my life listening to others and doing nothing about it that would
                    make anyone angry. I was just not that kid.
                </p>
                <p>
                    I would never wish to cause a scene. You would slap me and go away with it; simply because I would
                    not want the spotlight on me. I would even rash away after you had embarrassed me that way!
                </p>
                <p>
                    I spent that half of my life acting okay with everything. I never wanted anyone to hear my opinion.
                    I just kept myself to myself! I took in everything and I never let out anything. Luckily enough, I
                    got into that transition that changed my life.
                </p>
                <p>
                    The transition didn’t only just change my love life; it also let open many other windows into
                    various sides and perspectives of my being. I finally got to see the holes through which I could let
                    out most of that that I held in for most of my life.
                </p>
                <p>
                    Problem is: this also let open my anger doors. I could no longer hold my anger or even keep it in
                    check. Whichever thing that pissed me off really got me. I would get really frustrated because I was
                    never the kid who loved getting into fights. So, I really had hard time handling my anger. I didn’t
                    really know what to do with it.
                </p>
                <p>
                    I always felt like I could take down that person that got on my nerve; and momentarily I would then
                    glance on my muscles. That’s when I would just look for something to distract me from my thoughts.
                    Evidently, my muscles wouldn’t even harm a fly! I was a skinny little kid.
                </p>
                <p>
                    For years, I never really got a proper formula to keep my anger in check. The pain always wanted to
                    be felt. I always yearned to get into a fight even if it meant having my ass kicked. Well, then I
                    would lose the anger through the fight.
                </p>
                <p>
                    But using the distraction technique, the anger never really went away. It just only piled up. So, I
                    became this angry skinny little kid. So you see; from a nerd, I became this character that was angry
                    but also very skinny. Now, if you are following and you have the mind I had then, you probably must
                    have already figured what course of action I took.
                </p>
                <p>
                    Yes, just as you thought; I decided to erase the skinny part of the description. I tried to venture
                    into fatness. I thought to myself, “Well, there’s nothing wrong with being a fat angry boy. Matter
                    of fact, I would love to be that boy.” That was it. That was my solution right there. I had
                    conquered it in my mind.
                </p>
                <p>
                    The only problem now was facing the truth – the facts. I was never the kid with an appetite. Not
                    really! We would even have fights with my parents trying to get me to eat food with the rest of the
                    family. I never felt hungry at the same time as everyone did. My stomach was on a very different
                    time zone.
                </p>
                <p>
                    Of course I always ate; just not in the same time range as the rest of the family. And sometimes
                    they would manage to put me down to eat with them. So, I kind of had to get used to doing so.
                </p>
                <p>
                    So you see, there was really no natural way I could get any fat. Within no time I saw my chance
                    slipping through the grip of my hands just like that. I was never going to get fat. That was never
                    going to happen.
                </p>
                <p>
                    Not that I do really believe in fate. No! But you see there’s a way things just fall into place in
                    their own time. The universe takes its time to arrange anything for you. You cannot rush it. But in
                    the end, it does set everything right. All you got to do is train your patience to stretch closer to
                    the universe’s time zone.
                </p>
                <p>
                    Now in this way, you will never feel frustrated. Why! Because you are never too anxious! You hold
                    still and let nature take its course; or rather more appropriately, you let the universe take its
                    spin.
                </p>
                <p>
                    This also works in favor of some of us; who weren’t exactly born with the muscle to fight our way
                    through to highest point in the food chain, to grab that which we desire at the moment. That’s where
                    the idea of using the ‘brain’ comes. People comforting us saying, “Use your brain, not your muscle!”
                </p>
                <p>
                    You know what I tell these fuckers who think we don’t know what they are trying to do. Well I tell
                    them, “Go fuck yourselves.” And you know why? Well, these cunts hide in the disguise of trying to
                    help us or actually advise us yet in fact all they are doing is mocking us.
                </p>
            </div>
            <div class="col-lg-6">
                <p>
                    We already know we don’t have the muscle. So, fucking with our minds giving us such lines is merely
                    just a mockery. You telling me not to use my muscle and instead use my brain; that is merely just
                    suggesting that I chose to even abandon the only thing I have left – my brain.
                </p>
                <p>
                    Yes, seriously telling me to use my brain is more like confirming that you actually saw me not using
                    it. Like I was stupidly using my muscle, which as a matter of fact, I don’t really have! So, I come
                    again and say to those mockers, “fuck you and your entire lineage!”
                </p>
                <p>
                    You see; these people that preach the so called ‘use your brain’ message don’t really know what they
                    are actually saying. It’s not exactly their fault you know. They are just a bunch of failures who
                    think they sound a little wiser when they sound philosophical.
                </p>
                <p>
                    Well, I am here to tell y’all out there, there’s nothing philosophical about that line. It’s not
                    like you have actually made any point in making that statement. It’s just like saying, “Use your
                    hands!” Yes, that’s exactly its equivalent. Well, sweet hearts I am really very sorry to disappoint
                    you; but there’s really nothing wise-ish in such a statement. Nothing at all!
                </p>
                <p>
                    Yeah, am sorry for the spillover! So, on the point of me and no much muscle! The universe answered
                    my wish. But not the muscle wish this time round. My real desire originally was to find a deposit
                    for my anger. Well, surprise! Surprise! I got it.
                </p>
                <p>
                    I became a leader and what field is yet a better deposit for anger than leadership. No, just take a
                    look at our parents. They move on everyday because they have an anger deposit assurance. Us, their
                    kids! Yes, our old man comes back home with all his anger from work and just downloads it all onto
                    everyone that crosses his path at home.
                </p>
                <p>
                    Do you know how refreshing that is? That is like getting a sip or in fact a gallop of water after a
                    long sunny workout. Even better it’s more like finally emptying your bowels after a long season of
                    constipation. Yeah, it’s that refreshing.
                </p>
                <p>
                    Our old man is always jolly in the morning before going to work. This is obviously because there was
                    a weight lifted off his chest the previous evening. He has the best smiles in the morning. This is
                    actually the best time to ask for anything from him. You’re sure as hell that he’ll grant it unlike
                    what would happen if you bumped into him in the evening.
                </p>
                <p>
                    So, leadership! This was the deal breaker for me. I became a leader and since the job requires you
                    have some anger in store, I became the best at it. This was because I had the biggest store for the
                    material. In the anger business, I was the best seller.
                </p>
                <p>
                    Within no time I was very good in health and everything. I no longer had anger management issues and
                    basically because there was really nothing to manage. I was no longer angry. My store was always
                    emptied every day. And partially also because with leadership comes daily drama. I was always happy.
                    In fact was jolly almost all the time.
                </p>
                <p>
                    This is very big for me. Who would have thought such big developments could take place in my life
                    causing such huge changes in my entire being? The universe did its spin and I aligned myself. I
                    definitely cannot brag that it was all my making. I was just placed in the right field just about
                    the right time for me to turn every material I had to good use.
                </p>
                <p>
                    So my friend if you are out there and things are not exactly going so great; do not despair, your
                    time is coming. I cannot say soon or later but it really is coming. Just let the universe do its
                    spins in its own time and be prepared to jump onto the ride when it showcases in your vicinity.
                </p>
                <p>
                    You are not in a hurry. You sure as hell aren’t: you are hurrying things up for no good reason. For
                    one you don’t even know your destination. If you really did know your destination, you wouldn’t
                    employ that kind of speed in your life. We are all dying in the end that’s for sure. Whatever
                    happens after that no one is certain; most of them are just speculations.
                </p>
                <p>
                    When you understand this point – actually when you get to terms with this fact, every other thing
                    becomes just noise in the background. You get to see things for what they truly are. You get to
                    choose. You get to realize your deep passions. You get to actually understand yourself, the self you
                    hardly give time to nurture.
                </p>
                <p>
                    When you have reached this clarity, there are things that only you would be the answer to: things
                    only you will see and exploit, you will be clear minded and ready to strike. Trust me, am not saying
                    I have reached all these levels. Life doesn’t give you all the cheat codes. But sure as hell I
                    already have that realization in me. I know what I am doing.
                </p>
                <p>
                    &copy;LUKARD
                </p>
            </div>
        </div>
    </div>
    <!--fixed background-->

    <!--Emoji section-->

    <!--meet our team-->
    <div class="container">
        <div class="row text-center">
            <div class="col-12">
                <h1 class="display-4">The Lukard Team</h1>
                <hr style="width: 100%; border: 2px solid brown;">
            </div>
        </div>
    </div>

    <!--cards-->
    <!--Connect-->

    <div class="container-fluid text-white" style="background-color: #031236;">
        <div class="row text-center text-white">
            <div class="col-md-4">
                <hr style="border: 2px solid white;">
                <h3>Campus Projects</h3>
                <hr style="border: 2px solid white;">
                <p>
                    <a href="https://campusweekly.herokuapp.com" target="_blank"
                        style="text-decoration: none; color: white;">CampusWeekly</a>
                </p>
                <p>
                    <a href="https://www.yammieshoppers.com" target="_blank"
                        style="text-decoration: none; color: white;">YammieShoppers</a>
                </p>
                <p>
                    <a href="https://beaconhostels.herokuapp.com" target="_blank"
                        style="text-decoration: none; color: white;">BeaconHostels</a>
                </p>
                <p>
                    <a href="https://www.beaconnetug.com/" target="_blank"
                        style="text-decoration: none; color: white;">Beaconnetug</a>
                </p>
            </div>
            <div class="col-md-4">
                <hr style="border: 2px solid white;">
                <h3>Following</h3>
                <hr style="border: 2px solid white;">
                <p>Facebook</p>
                <p>Whatsapp</p>
                <p>Twitter</p>
                <p>Instagram</p>
            </div>
            <div class="col-md-4">
                <hr style="border: 2px solid white;">
                <h3>Related Sites</h3>
                <hr style="border: 2px solid white;">
                <p>
                    <a href="https://www.yammieshoppers.com" target="_blank"
                        style="text-decoration: none; color: white;">YammieShoppers</a>
                </p>
                <p>
                    <a href="https://thebee.lirauni.ac.ug" target="_blank"
                        style="text-decoration: none; color: white;">E - Learning</a>
                </p>
                <p>
                    <a href="https://student.lirauni.ac.ug" target="_blank"
                        style="text-decoration: none; color: white;">Student Portal</a>
                </p>
                <p>
                    <a href="https://lirauni.ac.ug" target="_blank"
                        style="text-decoration: none; color: white;">University Website</a>
                </p>
            </div>
        </div>
        <hr style="border: 2px solid white;">
        <p class="text-center">&copy; Copyright 2021 - Adventures of Lukard. All Rights Reserved.</p>
    </div>

</body>

</html>