<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lukard Adventures</title>
    <link rel="shortcut icon" href="images/lukardventuresFavicon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    {{!--
    <link rel="stylesheet" href="css/bootstrap.min.css"> --}}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="fonts/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <!--Navigation-->
    <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="images/lukardVenturesLogo.png " alt="logo"
                    style=" height: 80px; width: 120px; background-color: rgb(255, 255, 254);">
            </a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarResponsive">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse text-right" id="navbarResponsive">
                <ul class="navbar-nav ml-auto ">
                    <li class="nav-item ">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="/story">Venture 1</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="/lovestory">Venture 2</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="/angry">Venture 3</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/fear">Venture 4</a>
                    </li>
                </ul>
            </div>

        </div>
    </nav>

    <!--slider images-->

    <!--JUmbotron-->

    <!--welcome-->


    <!--Three column selection-->

    <!--Two column section-->
    <div class="container">
        <h1 style="text-align: center;">There is nothing to fear but fear itself…</h1>

        <hr style="width: 100%; border: 10px solid #051e58;">

        <div class="row padding">
            <div class="col-md-12 col-lg-6">

                <p>
                    As we journey this new century new ideologies about what to fear seem to rush in at a very terrible
                    speed; some saying it is the government, the rich while others claiming it is the terrorists. In
                    accordance to those individuals, that might be all right. I must say though, I think they are all
                    wrong; no hard feelings either!
                </p>
                <p>
                    It is very true. And am not saying it in the sense that you should think am wise on any account! No,
                    am only jotting it down because recently in my life I got enlightened. I realized for sure that
                    there’s nothing to fear: well, maybe just one – fear itself.
                </p>

                <p>
                    I have this friend of mine (who for confidentiality’s sake we are going to call, Mike). We always
                    joke around. Mike has got this very charming phrase that he always uses. He says, “Chase me for all
                    I care...” He usually used this idea when we were joking around life’s challenges. He had this very
                    open perception.
                </p>
                <p>
                    Mike never took life to be such a complexion as many have perceived it over the years. Even when it
                    came to girls, he always told us that he takes the shot and it would be the girl to chase him for
                    all he cared.
                </p>
                <p>
                    He never burdened himself with the anxiety or fear of failure. He always knew that it was
                    inevitable. One has to fail at one point or the other and that life without failure is just not
                    worth living.
                </p>
                <p>
                    It’s not life you want if you resent failure. You should actually just enjoy the bumps in the road
                    as you ride along. Nothing makes the journey less boring like those sure bumps at some point.
                    Surely, where’s the fun in driving a straight smooth road the entire time.
                </p>
                <p>
                    Joking with Mike, I came to realize that it is actually these very so called ‘failures’ that bring
                    all the fun. There’s really enough comedy in such scenarios. No one in the history of comedy and
                    jokes wants to listen to a very perfect life story. No hits, no falls, no bumps, no stupidity; well,
                    fuck it! That’s now just a bunch of ‘braggatory’ nonsense.
                </p>
                <p>
                    I do not want to listen to that. I want something worth my time. I don’t want to listen to a bunch
                    of bullshit. You have had an entire lifetime to prepare and the best you could think of coming up
                    with during our talk as a joke is your perfect story of buying two cars. Fuck you!
                </p>
                <p>
                    The point is: do not be afraid to do it. If there’s a girl you want to ask out, go ahead and ask her
                    out. There’s totally nothing to lose. If she accepts, then my brother, you have got yourself a date.
                    And just in case she says no, well now you know where you stand. So, you can now move on and stop
                    over thinking it – whether you should ask her or not.
                </p>
            </div>
            <div class="col-lg-6">
                <p>
                    She definitely isn’t the only girl out there and I am not saying this just so you can settle for
                    less. No, I am telling you this because if you didn’t know this already, then there’s no one going
                    to tell you anyway. So, let it be me to throw it in your face. My brother, you haven’t travelled
                    this world even an inch and therefore you haven’t met women.
                </p>
                <p>
                    You haven’t yet seen real beauty. The world is actually such a wide sample space. We can cut to just
                    your country or even just your district. There are girls waiting for a guy that almost looks like
                    you and you have a shot at such beauty. So, if this one says yes, it’s a date. And if she doesn’t,
                    ask the other one.
                </p>
                <p>
                    And if the other one doesn’t take bite, then you got yourself a very nice story. You have become a
                    man. You have become a friend I want to keep in my circle. Because your story beats the stories I
                    have had in years.
                </p>
                <p>
                    Alright point is: they all can’t refuse. So; do not fear to receive a no, do it and get over with
                    it. Do not carry with you huge amounts of uncertainty and pressure. You are a dude. Well, am not
                    cutting out my sisters out there too.
                </p>
                <p>
                    If you like him, tell him. Am pretty sure he too likes you, not that boys filter so much. So, take
                    that shot and stop acting like if he says no, then the end of the world as promised in the holy
                    books will manifest there and then.
                </p>
                <p>
                    You see when you joke about it this way, it becomes pretty clear that there’s really nothing to
                    fear. But as with all talks and presentations, people still go back and shy away from the real
                    course of action they learnt they should take. And slowly they run into the very behavior they had
                    before.
                </p>
                <p>
                    Well, I am very sorry to have to say this, my dear beloved. If you have just read this episode up to
                    this point and still at the back of your head something is beeping telling you that you have
                    everything to fear, how about you do this?
                </p>
                <p>
                    I am telling you right now that fuck you! Fuck every one of your fucking bullshit thoughts. You know
                    what? Just go fuck yourself. And if you do just that, then there are now two things to fear: you and
                    fear!
                </p>
                <p>
                    Alright, my dear beloved readers have a fucking good time. I will leave this episode at this. Please
                    do enjoy yourselves. I will see you in the other episodes. Thank you so much for your time.
                </p>
                <p>
                    &copy;LUKARD
                </p>
            </div>
        </div>
    </div>
    <!--fixed background-->

    <!--Emoji section-->

    <!--meet our team-->
    <div class="container">
        <div class="row text-center">
            <div class="col-12">
                <h1 class="display-4">The Lukard Team</h1>
                <hr style="width: 100%; border: 2px solid brown;">
            </div>
        </div>
    </div>

    <!--cards-->
    <!--Connect-->
    <div class="container-fluid padding">
        <div class="row text-center padding">
            <div class="col-12">
                <h3>Connect</h3>
            </div>
            <div class="col-12 social padding">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-envelope-open"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-google-plus"></i></a>
                <a href="#"><i class="fa fa-youtube"></i></a>
            </div>
        </div>
    </div>
    <div class="container-fluid text-white" style="background-color: #031236;">
        <div class="row text-center text-white">
            <div class="col-md-4">
                <hr style="border: 2px solid white;">
                <h3>Campus Projects</h3>
                <hr style="border: 2px solid white;">
                <p>CampusWeekly</p>
                <p>YammieShoppers</p>
                <p>BeaconHostels</p>
                <p>BeaconUG</p>
            </div>
            <div class="col-md-4">
                <hr style="border: 2px solid white;">
                <h3>Following</h3>
                <hr style="border: 2px solid white;">
                <p>Facebook</p>
                <p>Whatsapp</p>
                <p>Twitter</p>
                <p>Instagram</p>
            </div>
            <div class="col-md-4">
                <hr style="border: 2px solid white;">
                <h3>Related Sites</h3>
                <hr style="border: 2px solid white;">
                <p>
                    <a href="https://www.yammieshoppers.com" target="_blank"
                        style="text-decoration: none; color: white;">YammieShoppers</a>
                </p>
                <p>
                    <a href="https://thebee.lirauni.ac.ug" target="_blank"
                        style="text-decoration: none; color: white;">E - Learning</a>
                </p>
                <p>
                    <a href="https://student.lirauni.ac.ug" target="_blank"
                        style="text-decoration: none; color: white;">Student Portal</a>
                </p>
                <p>
                    <a href="https://lirauni.ac.ug" target="_blank"
                        style="text-decoration: none; color: white;">University Website</a>
                </p>
            </div>
        </div>
        <hr style="border: 2px solid white;">
        <p class="text-center">&copy; Copyright 2021 - CampusWeekly. All Rights Reserved.</p>
    </div>

</body>

</html>