<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lukard Adventures</title>
    <link rel="shortcut icon" href="images/lukardventuresFavicon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="fonts/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <!--Navigation-->
    <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="images/lukardVenturesLogo.png " alt="logo"
                    style=" height: 80px; width: 120px; background-color: rgb(255, 255, 254);">
            </a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarResponsive">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse text-right" id="navbarResponsive">
                <ul class="navbar-nav ml-auto ">
                    <li class="nav-item ">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="/story">Venture 1</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="/lovestory">Venture 2</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="/angry">Venture 3</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/fear">Venture 4</a>
                    </li>
                </ul>
            </div>

        </div>
    </nav>

    <!--slider images-->

    <!--JUmbotron-->

    <!--welcome-->


    <!--Three column selection-->

    <!--Two column section-->
    <div class="container">
        <h1 style="text-align: center;">I AM NOT FINE</h1>

        <hr style="width: 100%; border: 10px solid #051e58;">

        <div class="row padding">
            <div class="col-md-12 col-lg-6">

                <p>
                    Do not let my show fool you. Please don’t! I am not fine. I know I am supposed to be alright; but I
                    am not. I am very much afraid to tell anyone either because I pretty much do not want to make anyone
                    uncomfortable.
                </p>
                <p>
                    Yes, I always tell you “I am doing great. Thank you!” and you definitely can’t blame me for that –
                    yes, you have no right to blame me. You don’t. You taught that to me. You have never really desired
                    to know how I feel. Not really; you have never actually cared at all. That’s why you saw it to your
                    advantage to teach me to reply the way you want.
                </p>

                <p>
                    To tell you what you want to hear. And so I did. Yes, I did; I do and always will do. It is such a
                    normal thing to do that if someone asks you how you feel; you definitely slide off with an “I am
                    fine” response by default. Whether something is killing you inside; whether you need a shoulder to
                    lean on, to talk to someone, feel connected once again – “I am fine” will just pop up anyway.
                </p>
                <p>
                    Well, you know what? I am fucking not fine. How about that, huh? How about that? You go deal with
                    it. I don’t give a fuck. Yeah, I don’t care whether you care or not. I am freaking not fine. Fucking
                    child spacing!
                </p>
                <p>
                    Yeah, I am so tired of it. I am the first of four kids; and each of us is fucking spaced by four
                    years. My dad works all the time; more even during this period. My mum, well she is, my mum. And we
                    fucking have to stay home all day. You know what; I am fucking sick of every bit of it.
                </p>
                <p>
                    To be fair, it would have been a totally different situation if I had someone to fuck around with
                    but I don’t. I don’t. With the four year space between each of my siblings, it’s almost as though we
                    all live in different worlds inside our home. Being the oldest, some of their “fun” doesn’t cut it
                    for me. I try, but it doesn’t. And I definitely would never want to be that brother that kills fun.
                    So I just get out of their way and let them enjoy themselves.
                </p>
                <p>
                    I am a comedy lover; so much so, that not just any funny thing can get me. I have seen better; so it
                    has to be something really funny to interest me. It has to be complete – educated and mature – to
                    cool my ego. My egoism is at such a dictator level. I only get chuckles from fully constructed,
                    informed, mature and educated jokes. I am into the “real stuff”.
                </p>
            </div>
            <div class="col-lg-6">
                <p>
                    I have tried on several occasions to share a very funny clip “to me” to one of my siblings! I only
                    realize moments later, when I have to explain the joke to them at the end of the clip that my
                    siblings are not at the dictator level of humor that I am.
                </p>
                <p>
                    When I have to give them a background piece of information about the clip longer than the duration
                    of the video itself – which happens many times – I just nod my head in disappointment of their
                    civilian level of humor.
                </p>
                <p>
                    By the way, just before you judge my siblings; I must inform you also that many of my friends also
                    don’t get the jokes that get me. Even guys older than I am! Yeah, you would think that since they
                    are older; they would at least have close to or more information than I do. But evidently, since
                    they don’t get my educated jokes, I must think it’s just me who is at this level of humor – well,
                    maybe plus the comedian!
                </p>
                <p>
                    Oh and my mum! You see, humor has a lot to do in our lives; so much so, that we always use it in
                    everything that we do whether we realize it or not. We normally carry out our daily routine with
                    interactions that mostly comprise of conversations – talking to one another. My mum, being of her
                    own generation I believe, rarely gets any of my jokes. If she ever does, it is always like hours
                    later. Okay, maybe not exactly hours but longer than I think it should take. So you see, I laugh it
                    out alone.
                </p>
                <p>
                    I always chuckled with my best friend. She is on the same dictator level of fun as I am. Well, I may
                    be on a slightly higher one but we got along just fine. Yeah, we always laughed it wild together.
                    Sometimes it would make others pretty uncomfortable. Sometimes! Well, who am I kidding? It was all
                    the times! We always laughed so loud that it pissed everyone off in our vicinity that they later
                    just got used to it. We were just crazy to them.
                </p>
                <p>
                    Yeah, we still do teeth even now via calls; very long calls I must say. But I still miss the “real
                    stuff”. Yeah, our comedy! I miss it all. With this dictator level, I wish I could just snatch her
                    from her parents’ home and hide her inside my room and chuckle together forever and ever. Yeah, you
                    don’t need to tell me – I know. I am not fine.
                </p>
                <p>
                    &copy;LUKARD
                </p>
            </div>
        </div>
    </div>
    
    {{> footer}}

</body>

</html>