<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lukard Adventures</title>
    <link rel="shortcut icon" href="images/lukardventuresFavicon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="fonts/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <!--Navigation-->
    <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="images/lukardVenturesLogo.png " alt="logo"
                    style=" height: 80px; width: 120px; background-color: rgb(255, 255, 254);">
            </a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarResponsive">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse text-right" id="navbarResponsive">
                <ul class="navbar-nav ml-auto ">
                    <li class="nav-item ">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="/story">Venture 1</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="/lovestory">Venture 2</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="/angry">Venture 3</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/fear">Venture 4</a>
                    </li>
                </ul>
            </div>

        </div>
    </nav>

    <!--slider images-->

    <!--JUmbotron-->

    <!--welcome-->


    <!--Three column selection-->

    <!--Two column section-->
    <div class="container">
        <h1 style="text-align: center;">HOW DO YOU HANDLE IT</h1>

        <hr style="width: 100%; border: 10px solid #051e58;">

        <div class="row padding">
            <div class="col-md-12 col-lg-6">

                <p>
                    It is such a nice idea! “Hey, come on you can’t just start by dropping pans. What exactly are you
                    talking about?” I hear you ask! I am talking about positive attitude. Everyone does encourage it.
                    And I wouldn’t want to start off as a rebel, you know.
                </p>
                <p>
                    But I got to say, life is real. In as much as you fill yourself with all the positive energy in the
                    world, a day is going to come when something doesn’t exactly work as planned. Accidents don’t only
                    happen to bad drivers – even the best get a share of them!
                </p>

                <p>
                    What exactly are you going to do in that moment? What will be your reaction when that moment comes?
                    When you get rejected, how are you prepared to handle it? These questions never at any time popped
                    up in my head before I finally got rejected!
                </p>
                <p>
                    Yeah, it doesn’t happen often. I guess that’s why I never prepared myself considerably well the
                    first time I got rejected. One would say I didn’t handle it pretty well! I am quite sure I am not
                    discussing rocket science here, folks. This is real life; this is a reality, it’s a full package
                    deal.
                </p>
                <p>
                    You don’t get to pick cherries and throw out the pieces you don’t want. No, reality hits us all;
                    yes, all in our different ways and it definitely comes in a complete package. The happy times and
                    the sad ones too! Sometimes it is constipation, then other times diarrhea.
                </p>
                <p>
                    It is a damn realty; none of it is scripted to be perfect, this isn’t a gad damn movie. There are
                    variables constantly changing in each and every unrolling packet of time. Every event takes place in
                    ways no one has full control over.
                </p>
                <p>
                    In as much as you would logically believe that reading day and night would present good results,
                    sometimes this isn’t the case at all! Reading is just one variable part of a larger system of
                    coordinating variables that constitute reality! Perfecting a few of these doesn’t guarantee success.
                    No! No! No! It just increases our chances at it.
                </p>
                <p>
                    It all comes back to probability. Damn right it does! There is chance that you might win; big or
                    small, that chance also means you might also lose even through the same arrangement of events! Now,
                    to me, that is incredibly fascinating. It blows my mind.
                </p>
                <p>
                    Because to be fair, like I have always mentioned in the other episodes, this is what makes life,
                    this reality, all that interesting. It is, if you think about it, the entire point of life. To live
                    it; as it unfolds with all that we don’t know about it yet.
                </p>
                <p>
                    We all do know how boring even the most interesting films get after we have re-watched them for over
                    some good time. Uncertainty is fun. In fact, it is all the fun there is in the world. Being unsure
                    but sure as hell that you wanna know exactly how it all ends up. You want to find out. You want to
                    wait it out.
                </p>
                <p>
                    You wanna see what becomes of everything. It is like a drug that gets you high. You take it again to
                    go that high. But do you know what is interesting enough; you don’t want it to take you to the same
                    level again. No, this time you want it to throw you a little higher.
                </p>
                <p>
                    And if it can’t do that on its own, you increase the amounts you have been taking of it.
                    Uncertainty! You want to know what it’s like higher up there. You want to have that feeling; that
                    new feel of things. You don’t know anything about how it might be but you would pay anything to find
                    out!
                </p>
                <p>
                    It could as well be dangerous or harmful to your health; but as long as you are uncertain of the
                    exact consequences, you are dying to take any chances to find out! Uncertainty! It is the most
                    powerful drug. When mixed with hope, it has no equal.
                </p>
                <p>
                    Man kind’s hopes many a times depict the desire to align the flow of a number of events such that
                    they can take place in a desired order. A plan for the future! A future that we would want to
                    happen! Being aware of the uncertainties wrapped up in and around even in the next second, we yearn
                    to at least have a sense of control in the happenings.
                </p>
                <p>
                    We don’t wanna feel all that powerless. It is totally not in our nature. Being the most dominant
                    species on the planet, we can’t have that! As a matter of fact, it is what makes us the most
                    dominant species anyway! Our desire to have control over our lives - we don’t want to just drift
                    through from one experience to the other. We just can’t allow that.
                </p>
                <p>
                    So, we plan. We lay plans that would arrange for us suitable odds to have some assurance in the flow
                    of events around us. A comfortable environment! We want to be so certain that our next step doesn’t
                    cause our very own fated death. That’s actually funnier than it sounds, I must say!
                </p>
                <p>
                    We are so sure of death. Okay, not sure like sure; but as sure as breathing. We are sure that we are
                    – breathing; and we definitely do feel that we are still going to do it for a while. We are that
                    sure. That it is quite happening and we would love for it to happen a little more. Even death, we
                    are sure from our history that we all do face it eventually.
                </p>
            </div>
            <div class="col-lg-6">
                <p>
                    Now, that is what is funny to me. No, it’s hilarious. Just think about it, with all our obsession of
                    an ordered planned out future, we somehow lay our guards down on that bit! We accepted it as a fact
                    that each and every one of us has to undergo someday.
                </p>
                <p>
                    I mean with all the plans we lay down for ourselves in preparation for a lovely future, why would we
                    give up on the sight of death. Yeah, I know! Trust me; I do know that things we can’t change we
                    shouldn’t waste any minute of our lives thinking about them.
                </p>
                <p>
                    It just doesn’t quite fit inside my mind why we waste so much time in ordering events and at the
                    very same time hold true the universally accepted fact that death is inevitable. I mean if this was
                    exactly what we believed in every fabric there is to it, then we wouldn’t try to control any future
                    happenings.
                </p>
                <p>
                    Think about it! If death is inevitable; and in every sense unavoidable, characterized of spontaneity
                    as believed, why then would we attempt to organize anything for the next second yet we know there’s
                    probable chance that we might not cross over to that second.
                </p>
                <p>
                    Yeah, I know! It all doesn’t make sense at first thought. It doesn’t. But obviously someone must
                    have thought about it even before my ancestors were even ever born. There must be some logical
                    explanation to all this. First to mind would be the need to develop society, organized and peaceful
                    societies at that.
                </p>
                <p>
                    The only way to do that is if we universally agree to accept some things as not worth venturing into
                    – to consider them as wasting valuable time! I would think that leaders of those days saw it wise to
                    concentrate people’s energies and abilities to a foreseeable future, whatever any of that means.
                </p>
                <p>
                    Maybe we would say a future they hoped for. Uncertainty! They were high on drugs. Isn’t that
                    hilarious? This world was shaped by leaders who were super high on drugs. Some more drugs than
                    others but sure as hell they all had one drug in common – uncertainty!
                </p>
                <p>
                    They hoped, dreamt and yearned to have a taste of what it would feel like at that new higher level,
                    just like drugs do make us believe and sometimes do impossible things. These people were highly
                    motivated by hope – it was now faith. They believed.
                </p>
                <p>
                    You know how you can get so high on drugs that you feel you can fly; some even do jump off
                    skyscrapers on drugs and smash their heads straight into the ground too many stories down. This is
                    belief. You are willing to sacrifice anything for that vision; you are unsure of everything but you
                    feel you would give anything to get to that uncertainty.
                </p>
                <p>
                    These leaders saw it wise to concentrate their people’s energies to the visions they had. They
                    blocked their minds from wandering in fields that questioned death and directed them to creating
                    developed societies – technologies and all. They chose living a comfortable life to wondering
                    whether death actually is inevitable. Well, not all of them!
                </p>
                <p>
                    I do believe that some of their people, a small portion of them, must have been tasked to think
                    through all of it – the possibility of an escape or a breakthrough from the paradigm of an
                    unavoidable death. From the still held belief, they must have found it a fact that we all have to
                    die after all.
                </p>
                <p>
                    So what does this all say about life; that it ends, for starters! And what does this say about us;
                    well, that we accepted it! And finally, how does this answer my original question? How do you handle
                    it? Rejection! Well, you accept it.
                </p>
                <p>
                    That seems to be the most thought over solution over the years when it comes to things we can’t
                    change or control. I wouldn’t actually refer to it as a solution per say. Maybe a way forward would
                    do it better. When you get rejected, accept it. Find it in your heart to accept it, it is
                    inevitable.
                </p>
                <p>
                    It has to happen at least once in your life. Well, I must say, it can actually happen quite often in
                    one’s life. Unpredictable as the future is, it could as well happen each and every bit of every
                    second of your life. But the odds of that happening are really out the window. The probability is
                    very low but it is still very plausible.
                </p>
                <p>
                    So accept it and find ways to move on. Don’t waste your valuable time on each episode of rejection
                    you get. It’s just not worth it. Think through the events only to register that experience and do
                    equip yourself better for the future, but do not kill yourself over any episode.
                </p>
                <p>
                    You getting rejected, at any time shows that you are closer to getting what you desire. Try one more
                    round. Take another shot. Get up and make another step. You don’t know what could happen in the next
                    future. Uncertainty!
                </p>
                <p>
                    &copy;LUKARD
                </p>
            </div>
        </div>
    </div>
    
    {{> footer}}
</body>

</html>