<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lukard Adventures</title>
    <link rel="shortcut icon" href="images/lukardventuresFavicon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    {{!--
    <link rel="stylesheet" href="css/bootstrap.min.css"> --}}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="fonts/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <!--Navigation-->
    <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="images/lukardVenturesLogo.png " alt="logo"
                    style=" height: 80px; width: 120px; background-color: rgb(255, 255, 254);">
            </a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarResponsive">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse text-right" id="navbarResponsive">
                <ul class="navbar-nav ml-auto ">
                    <li class="nav-item ">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="/story">Venture 1</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="/lovestory">Venture 2</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="/angry">Venture 3</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/fear">Venture 4</a>
                    </li>
                </ul>
            </div>

        </div>
    </nav>

    <!--slider images-->

    <!--JUmbotron-->

    <!--welcome-->


    <!--Three column selection-->

    <!--Two column section-->
    <div class="container">
        <h1 style="text-align: center;">FOR CHRIST’S SAKE!</h1>

        <hr style="width: 100%; border: 10px solid #051e58;">

        <div class="row padding">
            <div class="col-md-12 col-lg-6">

                <p>
                    I like the way you make everything about yourself. It is fascinating. It totally blows my mind. How
                    in every argument you are always the right one! No, it does! It is charming; enthralling,
                    mesmerizing, interesting and totally absorbing. I have never been right in any argument – ever! I
                    was almost starting to believe that maybe, just maybe, I was a little crazy myself.
                </p>
                <p>
                    I admit; there are days where I, myself walk it off after a hot argument, trying to replay
                    everything that just transpired. I realize I was being a little out of line; and I make that little
                    adjustment. Now, with all those little adjustments I have made over the years, you can’t tell me I
                    haven’t yet qualified to be right in at least one argument.
                </p>

                <p>
                    It doesn’t seem right. The first hundred times, I used to always hold on and try to paint my side of
                    the story to you, during our so called “discussions”. Of course to me it sounded like sense – the
                    points I tried to make! Yeah, little did I know! Turns out my teachers filled me with wrong
                    information. It blew my mind; it definitely did – how false our school library books were! I swear
                    if I had met you earlier on in my life, I would never have bothered to even read a single line from
                    them.
                </p>
                <p>
                    Oh and my parents! They were all wrong. I was nowhere in the know about any of this! Totally unaware
                    that I am just a pile of wrong things myself! What else could possibly explain the number of times I
                    have been in the wrong, in all those arguments with you, my dear? What else? You see; when I saw the
                    trend that was building up, I tried to change the players. I thought to myself, “Well, maybe my
                    approach could be a variable that would shake a few things up if I did some moves on it.”
                </p>
                <p>
                    It didn’t sound like a bad idea at the time. I mean if I was losing all those times and my data
                    didn’t seem so wrong to me; there was no harm in changing approach, to see whether it was really the
                    data that was actually way out of line. Believing that maybe, if I listened to you and your points
                    pretty well; I would maybe, just maybe, have a shot at a win! I actually resolved to be a little
                    more attentive to detail. Can’t believe I was signing myself up for an extra class!
                </p>
                <p>
                    To no one’s surprise, I just wouldn’t. No, it was totally impossible to do. My mind just wouldn’t
                    hold on any longer than a minute. To be fair, I tried but there’s no way; no way as a guy can you
                    completely hold still and listen to whatever comes out of those cute lips! You can’t. As a guy! Who
                    was raised right! You can’t; you just can’t do it. It’s impossible.
                </p>
            </div>
            <div class="col-lg-6">
                <p>
                    I tried but the statements that kept on coming out of sweet heart’s lips all just spelled out wrong
                    in my head. I just wouldn’t. The urge to correct her statements just kept on growing exponentially
                    till I said something. Which, of course, was the initial step to acquiring my hundred and first loss
                    in our “discussions”.
                </p>
                <p>
                    Blame me my friend; but I was out of options, I just didn’t know what else to do. You reply Mrs.
                    Lady, that’s a sure loss; you try to listen with all the energy in your core, you crack eventually!
                    I was out; it was a stalemate for me. I was totally out of ideas. So, naturally, I just kept quiet
                    during the “discussions”.
                </p>
                <p>
                    Oh! No one had told me at the time that that was even worse. I found out the hard way. Mrs. Lady
                    cannot work with silence. Yet she has to work! She just can’t pass by your passiveness in her
                    “discussions”. That is a capital crime in her world; and I didn’t know this at the time. I was just
                    playing by instinct; that if speaking always led to burial, then silence could at least reverse the
                    process. Turns out, this was the wrong play book I peeped in.
                </p>
                <p>
                    You know how belittling losing to sweet heart is, right? That feeling is not pretty at all. Well, it
                    could be a little fun if it was foreplay week. Other than that, it isn’t a good one at all. In
                    consolation though, it isn’t the worst either. Not with Mrs. Lady! Not her! Capital crimes get
                    capital punishments. To put it right; the focus shifts from the point at the time to why you chose
                    silence. Oh my dear friend, that is the worst! The heat of the other discussions is nothing compared
                    to that of the “why you chose silence” discussion! That one is way hotter and longer.
                </p>
                <p>
                    My friend, you can’t win and you definitely cannot give in a free win to Mrs. Lady! That is not how
                    it works; you have to show some bit of work before you lose. For Christ’s sake sweet heart, can’t we
                    change the rules a little? You know what? Never mind, am all smiles now; we shall have this
                    discussion later – maybe in about two weeks from now. I have just remembered that role play week is
                    coming in a week from now. I can’t purge myself into losing the best experience in the entire year.
                    Nice time!
                </p>
                <p>
                    &copy;LUKARD
                </p>
            </div>
        </div>
    </div>
    <!--fixed background-->

    <!--Emoji section-->

    <!--meet our team-->
    <div class="container">
        <div class="row text-center">
            <div class="col-12">
                <h1 class="display-4">The Lukard Team</h1>
                <hr style="width: 100%; border: 2px solid brown;">
            </div>
        </div>
    </div>

    <!--cards-->
    <!--Connect-->

    <div class="container-fluid text-white" style="background-color: #031236;">
        <div class="row text-center text-white">
            <div class="col-md-4">
                <hr style="border: 2px solid white;">
                <h3>Campus Projects</h3>
                <hr style="border: 2px solid white;">
                <p>CampusWeekly</p>
                <p>YammieShoppers</p>
                <p>BeaconHostels</p>
                <p>BeaconUG</p>
                <p>
                    <a href="https://campusweekly.herokuapp.com" target="_blank"
                        style="text-decoration: none; color: white;">CampusWeekly</a>
                </p>
                <p>
                    <a href="https://www.yammieshoppers.com" target="_blank"
                        style="text-decoration: none; color: white;">YammieShoppers</a>
                </p>
                <p>
                    <a href="https://beaconhostels.herokuapp.com" target="_blank"
                        style="text-decoration: none; color: white;">BeaconHostels</a>
                </p>
                <p>
                    <a href="https://www.beaconnetug.com/" target="_blank"
                        style="text-decoration: none; color: white;">Beaconnetug</a>
                </p>
            </div>
            <div class="col-md-4">
                <hr style="border: 2px solid white;">
                <h3>Following</h3>
                <hr style="border: 2px solid white;">
                <p>Facebook</p>
                <p>Whatsapp</p>
                <p>Twitter</p>
                <p>Instagram</p>
            </div>
            <div class="col-md-4">
                <hr style="border: 2px solid white;">
                <h3>Related Sites</h3>
                <hr style="border: 2px solid white;">
                <p>
                    <a href="https://www.yammieshoppers.com" target="_blank"
                        style="text-decoration: none; color: white;">YammieShoppers</a>
                </p>
                <p>
                    <a href="https://thebee.lirauni.ac.ug" target="_blank"
                        style="text-decoration: none; color: white;">E - Learning</a>
                </p>
                <p>
                    <a href="https://student.lirauni.ac.ug" target="_blank"
                        style="text-decoration: none; color: white;">Student Portal</a>
                </p>
                <p>
                    <a href="https://lirauni.ac.ug" target="_blank"
                        style="text-decoration: none; color: white;">University Website</a>
                </p>
            </div>
        </div>
        <hr style="border: 2px solid white;">
        <p class="text-center">&copy; Copyright 2021 - Adventures of Lukard. All Rights Reserved.</p>
    </div>

</body>

</html>