<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lukard Adventures</title>
    <link rel="shortcut icon" href="images/lukardventuresFavicon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    {{!--
    <link rel="stylesheet" href="css/bootstrap.min.css"> --}}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="fonts/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <!--Navigation-->
    <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="images/lukardVenturesLogo.png " alt="logo"
                    style=" height: 80px; width: 120px; background-color: rgb(255, 255, 254);">
            </a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarResponsive">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse text-right" id="navbarResponsive">
                <ul class="navbar-nav ml-auto ">
                    <li class="nav-item ">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="/story">Venture 1</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/lovestory">Venture 2</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/angry">Venture 3</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/fear">Venture 4</a>
                    </li>
                </ul>
            </div>

        </div>
    </nav>

    <!--slider images-->

    <!--JUmbotron-->

    <!--welcome-->


    <!--Three column selection-->

    <!--Two column section-->
    <div class="container">
        <h1 style="text-align: center;">MY LOVE STORY: PART I</h1>

        <hr style="width: 100%; border: 10px solid #051e58;">

        <div class="row padding">
            <div class="col-md-12 col-lg-6">

                <p>
                    A coward is incapable of exhibiting love; it is the prerogative of the brave – Mahatma Gandhi.
                </p>
                <p>
                    I tend to be very sensitive and cautious whenever I try to discuss the topic of love with anyone.
                    This is all because I entered the world of love in a very unique way. Yes, unique because the term
                    weird would put you off so fast. Unique, because no one ever even gave it thought that a guy with my
                    kind of behaviour and nature could fall in love.
                </p>

                <p>
                    Yeah, I was a nerd. Maybe I still am that dude. You know it never really goes out of your system
                    even if you cross a line most nerds find hard time crossing. So, yeah! A nerd by the early years of
                    secondary school! I was that dude every relative trusted that would always come back with good
                    results at the end of every term.
                </p>
                <p>
                    I also trusted myself. I believed in myself not because I knew it was good to do so but majorly
                    because I knew many people who told me straight up that they believed in me. So I was like, “fuck
                    it, I got to believe in myself too. I can do all of it. I can do whichever thing these people
                    believe I can do.” Therefore for the first two years of this new level of education I had joined, I
                    had the best tool for a scholar. I believed. I therefore produced result, very good results at that.
                </p>
                <p>
                    But just like any great story there’s always that visible point in your life that changed
                    everything: the turning point. Yeah, I found mine in the third year of school. This was a year for
                    electing leaders in school. I happened to be interested in this kind of thing. I enjoy doing service
                    for others in any community.
                </p>
                <p>
                    Something I didn’t imagine could set a chain of events to my turning point was that every post of
                    leadership had two slots; one slot for a boy and the other for a girl. Well, I agree with you too.
                    It is pretty damn obvious, isn’t it? Yeah, even to me it was. It was very normal, as normal as
                    breathing. I didn’t really give it any thought because that’s how it was for the other years too.
                </p>
                <p>
                    Little did I know that having to co-work with a girl every single day of my service to the school
                    definitely had to restructure a considerable portion of my behaviour! From my introduction you must
                    have already figured that I wasn’t that guy. I was never good with the ladies. As a matter of fact,
                    I was nervous around them - typical nerd behaviour. But when I was running for the post I didn’t
                    even for a second think about any of it. I only hoped to win the position.
                </p>
                <p>
                    So we swear in and enter office and start off serving the school. In any well structured
                    institution, there are always meetings for the officers – the guys holding offices. It turns out my
                    post was one in the very department in charge of handling everything concerned with the meetings of
                    the prefects.
                </p>
                <p>
                    The head of the department announced a policy that everyone had to sit with the members in their own
                    departments. This was aimed at improving orderliness during the meeting. It was a very nice idea.
                    What I didn’t see coming was that it also applied to me and therefore I had to sit with my post mate
                    for one hour or so during the meeting.
                </p>
                <p>
                    Obviously, I never sat with girls in class. I was always a back bencher. I sat behind with the guys.
                    That’s how I tried to cover my nerd behaviour – by hanging out with the dudes. You know it was the
                    crazy guys, the stubborn type that sat behind in class. So, I figured if I sat behind too, I
                    wouldn’t be labeled a nerd as much.
                </p>
                <p>
                    So I sit with this girl during meetings! She was actually pretty awesome. She was very friendly. The
                    problem was with me. Pure nerd! So for the first couple of meetings we had I always sweated it out.
                    I sat down quiet in the departmental seating and the one hour or so seemed to be a year to me. On
                    the outside it seemed all right. It really seemed like I was very concentrated to what was being
                    communicated in the meetings. If there were a prize for the most attentive, am pretty sure it would
                    have been mine.
                </p>
            </div>
            <div class="col-lg-6">
                <p>
                    Other members in the other departments could talk to each other before, during and after the
                    meeting. That wasn’t the case with me. I was the all serious guy. And that’s how the serious face
                    character got born in my life. I became a prefect and because I was a nerd: I feared associating
                    with the ladies, putting on a serious face became my defense mechanism. To other junior prefects
                    like me, I seemed the most serious looking junior prefect and therefore always credited to be the
                    most active prefect. Later, I actually had to work harder to really fit the assumptions already made
                    due to my serious act.
                </p>
                <p>
                    This was definitely a good turnout for me. Turns out I had the leadership gene of sort inside of me.
                    So, I pretty much carried out my duties very well and even gave a helping hand to other departments.
                    Soon or later the students got used to my serious face at every corner of the school. I became one
                    of the most known junior prefects and later the most feared prefect. That’s how I became the guy you
                    trust to handle the hardest of the routine work. Where most prefects would fear the students’
                    retaliation, that’s exactly where they knew they had to send me in. I became the last line of
                    defense in the junior team.
                </p>
                <p>
                    By now it is pretty obvious that this was my turning point in school - from a nerd to some character
                    known throughout the entire school. Yeah, you are right but that’s not all. You remember how I said
                    we basically had to sit with girls during meetings. So it wasn’t long till this friendly post mate
                    of mine began to get words out of me. Well, at first I only replied because it would be rude not to
                    do so. Later on, I did because she always had what to say to me or ask me. And with time it became
                    usual, not yet very normal but usual – like it was happening all the time we were having meetings.
                </p>
                <p>
                    Since it was getting usual I also got used and actually began initiating the talk by maybe a
                    greeting. Soon or later we were talking even after meetings and during the week days at break time
                    or anything of sorts since we weren’t in the same stream though same class. We became very good
                    friends. She would crack me up.
                </p>
                <p>
                    You surely have already pictured the scenario in your mind. A serious face character feared by most
                    students, cracked by another female character! That was real news to anyone who had bought the
                    entire serious face act. So like any other situation in life at school you can’t exactly understand,
                    students presumed and concluded the two of us were actually pushing out. Well, what else could
                    actually explain what was going on between these two characters? There was pretty much nothing that
                    could satisfy the students’ imagination.
                </p>
                <p>
                    So out it went. Everyone bought the rumors that we were pushing out. Soon it was everywhere that it
                    was almost difficult for the both of us to believe we weren’t doing so. Now, that was my first clear
                    encounter with the environment of love. The high school love! The environment was very conducive
                    that all I had to do was to just dance to the tune. Luckily on my side, she too reciprocated. And
                    that’s how I met my first girl.
                </p>
                <p>
                    So when I say that I tend to become very sensitive and cautious whenever I discuss love topics, I
                    really do mean it. Because there is no nerd in the world who would have dreamt of things turning out
                    the way they did for me. And ever since then, I have always tried to better myself and my
                    understanding of the concept and idea of love. I can now surely say I am very much knowledgeable
                    about it. I know its ins and outs.
                </p>
                <p>
                    Later in my life I became the guy you trust will have a sound scenario solution to your love
                    problem. I pretty much became the ultimate love doctor. But that’s a story for another time. See you
                    in my other episodes.
                </p>

                <p>
                    &copy;LUKARD
                </p>
            </div>
        </div>
    </div>
    <!--fixed background-->

    <!--Emoji section-->

    <!--meet our team-->
    <div class="container">
        <div class="row text-center">
            <div class="col-12">
                <h1 class="display-4">The Lukard Team</h1>
                <hr style="width: 100%; border: 2px solid brown;">
            </div>
        </div>
    </div>

    <!--cards-->
    <!--Connect-->
    <div class="container-fluid padding">
        <div class="row text-center padding">
            <div class="col-12">
                <h3>Connect</h3>
            </div>
            <div class="col-12 social padding">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-envelope-open"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-google-plus"></i></a>
                <a href="#"><i class="fa fa-youtube"></i></a>
            </div>
        </div>
    </div>
    <div class="container-fluid text-white" style="background-color: #031236;">
        <div class="row text-center text-white">
            <div class="col-md-4">
                <hr style="border: 2px solid white;">
                <h3>Campus Projects</h3>
                <hr style="border: 2px solid white;">
                <p>CampusWeekly</p>
                <p>YammieShoppers</p>
                <p>BeaconHostels</p>
                <p>BeaconUG</p>
            </div>
            <div class="col-md-4">
                <hr style="border: 2px solid white;">
                <h3>Following</h3>
                <hr style="border: 2px solid white;">
                <p>Facebook</p>
                <p>Whatsapp</p>
                <p>Twitter</p>
                <p>Instagram</p>
            </div>
            <div class="col-md-4">
                <hr style="border: 2px solid white;">
                <h3>Related Sites</h3>
                <hr style="border: 2px solid white;">
                <p>
                    <a href="https://www.yammieshoppers.com" target="_blank"
                        style="text-decoration: none; color: white;">YammieShoppers</a>
                </p>
                <p>
                    <a href="https://thebee.lirauni.ac.ug" target="_blank"
                        style="text-decoration: none; color: white;">E - Learning</a>
                </p>
                <p>
                    <a href="https://student.lirauni.ac.ug" target="_blank"
                        style="text-decoration: none; color: white;">Student Portal</a>
                </p>
                <p>
                    <a href="https://lirauni.ac.ug" target="_blank"
                        style="text-decoration: none; color: white;">University Website</a>
                </p>
            </div>
        </div>
        <hr style="border: 2px solid white;">
        <p class="text-center">&copy; Copyright 2021 - Adventures of Lukard. All Rights Reserved.</p>
    </div>

</body>

</html>