<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lukard Adventures</title>
    <link rel="shortcut icon" href="images/lukardventuresFavicon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    {{!--
    <link rel="stylesheet" href="css/bootstrap.min.css"> --}}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="fonts/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <!--Navigation-->
    <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="images/lukardVenturesLogo.png " alt="logo"
                    style=" height: 80px; width: 120px; background-color: rgb(255, 255, 254);">
            </a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarResponsive">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse text-right" id="navbarResponsive">
                <ul class="navbar-nav ml-auto ">
                    <li class="nav-item ">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="/story">Venture 1</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="/lovestory">Venture 2</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="/angry">Venture 3</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/fear">Venture 4</a>
                    </li>
                </ul>
            </div>

        </div>
    </nav>

    <!--slider images-->

    <!--JUmbotron-->

    <!--welcome-->


    <!--Three column selection-->

    <!--Two column section-->
    <div class="container">
        <h1 style="text-align: center;">POWERLESS</h1>

        <hr style="width: 100%; border: 10px solid #051e58;">

        <div class="row padding">
            <div class="col-md-12 col-lg-6">

                <p>
                    Some days are not exactly that great – at campus! Yeah, to be fair, most of them are fun; I mean for
                    those at campus or gone through campus you know what I am talking about. Every class you take is
                    your very own decision.
                </p>
                <p>
                    No pressure! It’s just you and your results. No one is going to push you. Worse if you live in
                    hostels, you are living the dream! One would say it’s the best feeling ever in anyone’s life. No,
                    just look at it; you don’t have parents telling you what to do and when to do it, no curfew from
                    them, but they still pay for tuition and all your other bills.
                </p>

                <p>
                    It’s like dating a rich guy who won’t ask for any goodies in return. You just enjoy the privileges
                    to the highest level of fun you can handle! No point at any other time in your life will you be in
                    the same position as this! No my friend, this is the best feeling in the world.
                </p>
                <p>
                    And the lecturers! Oh! They just come to do their thing. They never interfere with your business.
                    You wanna attend, you attend; if you don’t feel like it, you don’t! Well, there are some who
                    everyone knows that you don’t ever miss their class.
                </p>
                <p>
                    Oh, those ones who explicitly tell you exactly how they will fuck you up if you dare miss any of
                    their classes! They always have full attendance every lesson. They are ruthless. I can’t really say
                    why but many a times it so happens that these very lecturers have most of their lectures in the
                    morning sessions.
                </p>
                <p>
                    So, a fellow like me has to be sober enough the nights before their morning lectures to drag their
                    ass into the attend-or-die morning discussions with the ‘sweet’ lecturer.
                </p>
                <p>
                    Yeah, it was one of these mornings! I woke up, of course very early as the trend was on such a day.
                    Got my ass up, brushed the enamel; had about fifty push-ups, a few stretches and a shower –
                    generally it was the usual morning routine, only a bit earlier I would say!
                </p>
                <p>
                    I was dressed and out on the road in no time where I met the crew headed to the same ‘sweet’
                    session. Because it was so damn early, we all walked casually – cracking jokes, laughing and all.
                    Again, all still the usual routine on the road.
                </p>
                <p>
                    With the jokes and the best crew of guys in the world, you laugh your lungs out and you can’t even
                    notice the journey you cover on road. You only notice that you have arrived when you hit the doorway
                    to the lecture room.
                </p>
                <p>
                    It was just about a few moments later after we had already entered that I realized I hadn’t carried
                    a pen and shit for the session after the ‘sweet’ morning lecture. It wasn’t a big deal at the time.
                    I mean, it was still so early in the morning. There was really no cause for panic.
                </p>
                <p>
                    “Well fuck it, it isn’t that late. I can still go back and pick it up,” I told myself. “In as much
                    as I can get a pen from any of my mates, I wouldn’t exactly love the experience of walking down
                    after the morning session to pick the other shit up.”
                </p>
                <p>
                    It made perfect sense, the sun always got hotter after the early morning session. Walking down and
                    then back to the lecture room would just fuck up my fragrance for the day.
                </p>
                <p>
                    The decision was made; I told my mates to keep a look out for my bag as I sloped down for the shit.
                    Of course, they had to laugh at me for my fuck up. How would I have forgotten to pack everything I
                    needed for the entire morning! I had never forgotten it before; I don’t really remember why it
                    slipped my mind that morning but it did.
                </p>
                <p>
                    So I sloped back down now with earpieces in my head, moving with the beat. It was a simple thing; go
                    pick it up and then, fucking walk the same gad damn distance back to the lecture room. Fuck! It was
                    so damn annoying but a simple task nonetheless, you know.
                </p>
                <p>
                    Again, like an asshole, I only realized I had left my room keys in the bag when I was just about to
                    enter the hostel gate. The distance between campus and my hostel is quite a good one I must tell
                    you. Shit! It was now a streak.
                </p>
                <p>
                    It was like I was hell bent on messing my entire morning that day. At that time, it began dawning on
                    me that if I didn’t get my ass back in line, I was going to get fucked by the ‘sweet’ lecturer.
                </p>
                <p>
                    That was when I lost it. “Fuck! Now I have to walk back to campus; pick my keys, come back to
                    hostel, pick the shit for the second session and then fucking walk back to campus!” now, there was
                    definitely some need to panic.
                </p>
                <p>
                    “How about,” I thought, “I just get the hell back to campus, I will maybe come back to pick my stuff
                    later after the ‘sweet’ lecture.”
                </p>
                <p>
                    “Hold on,” my head was still contributing, “you have already reached hostel. And as long as you are
                    still in the premises, it wouldn’t exactly be a bad idea to check whether there isn’t anyone still
                    in their rooms; who wouldn’t mind helping you out with the shit you need for session two!”
                </p>
                <p>
                    “Well, plus a pen too, you know!” my brain was on fire, trying to save my stupid ass from the messy
                    morning that was lining itself up ahead of me. The idea didn’t sound so bad at all. Again, it made
                    perfect sense at the moment. So I was like, “fuck it! Let’s do exactly that.”
                </p>
                <p>
                    I henceforth began walking through the hostel; trying to scope for any room that sounded like its
                    occupant was availably present at the time, so that I could download my problems onto them. I had
                    just made about three steps when I remembered something that gave me a very wide smile of hope.
                </p>
                <p>
                    I couldn’t control myself anymore; I just began running. I remembered that one of my friends in the
                    same hostel never had a lecture in the morning on that day. This was the very first time this very
                    point ever gave me such a wide smile. I felt saved by the very point she always pissed on us about!
                </p>
                <p>
                    This friend of mine always fucked with us about being pussies; waking up so early because of a
                    single lecturer. “A single lecturer, for fuck’s sake!” she always added. “Why would anyone fear a
                    human being to that extent?”
                </p>
                <p>
                    A question we quite never seemed to give a satisfying answer however much we tried. She always just
                    kept on laughing at us, little pussies as she always called us!
                </p>
                <p>
                    Being so sure she was always in her room at that time of that very day, I just couldn’t control the
                    urge to start off running towards her room. So from the gate, I start running and just when I had
                    just made the first corner to the rooms, I saw her shoes outside her room. Now, I was so damn sure
                    she was in there.
                </p>
                <p>
                    I always knocked on any of my friends’ doors, waited for them to open, before I entered – my mother
                    raised a gentleman – but I don’t really know what happened that time.
                </p>
                <p>
                    I don’t know whether it was the high hope of being saved from a messy morning or the very fact that
                    we were always so free with this particular friend of mine; can’t really tell!
                </p>
            </div>
            <div class="col-lg-6">
                <p>
                    Reducing speed, reached her room; removed my shoes, knocked and entered at the same time! Yeah, she
                    was to be my savior for that day. Little did I know! There was no way! No way in a million years!
                    Totally no way would I have imagined a series of events taking place in an order like that which
                    they took when I entered that room.
                </p>
                <p>
                    Pushing the door behind me, turning to face forward and check for her; I took one good look and
                    froze in the moment! All my muscles were stoned into position. My entire nervous system broke down.
                </p>
                <p>
                    I was so shocked I lost all sense of touch and feeling. I felt numb, whatever any of that means! My
                    mind couldn’t exactly place that event in any probable happenings in its calculations.
                </p>
                <p>
                    Right in the middle of the room, Jane – name chosen for the sake of confidentiality, stood still and
                    looked back at me. There was no way I would have thought I would find her in that state; she never
                    did it in that time, at least not in all the other days.
                </p>
                <p>
                    This was my friend. I knew most of Jane’s programs. It always came up in conversation.
                </p>
                <p>
                    She always showered very early in the morning, earlier than all of us even at our earliest! I didn’t
                    think at all that I would have found her right in the middle of her room naked. Jane had just
                    showered and had on a towel just up to the waist.
                </p>
                <p>
                    When I finally broke the ice all over my body, I turned to get to the door. “I am so sorry!” I said,
                    as I tried to weave the curtain and have the door opened up.
                </p>
                <p>
                    “Just when I didn’t think my morning could get any more fucked up, I fell into this kind of
                    embarrassment,” my brain just began ringing. “Fuck! Fuck! Fuck! Fuck! What the fuck is wrong with
                    today!” That was when I felt a cool soft hand touch my shoulder. Jane turned my body towards hers.
                </p>
                <p>
                    I tried to control my eyes such that when I turned they would at least look up or in her eyes. They
                    just wouldn’t! Not at those two gorgeous round ‘buddies’ looking straight at me!
                </p>
                <p>
                    They touched and squeezed themselves on my chest as Jane pushed me towards the door; trying to lock
                    it behind me! I couldn’t exactly comprehend what was really going on at the time.
                </p>
                <p>
                    I just felt Jane hug me even tighter till I heard the sharp sound of the door locking up! With this
                    minor piece of information my ears had just collected, I was still confused at what was really going
                    on.
                </p>
                <p>
                    Jane made a few steps back and I felt ticklish as the two soft round ‘buddies’ un-squeezed
                    themselves from my chest core.
                </p>
                <p>
                    She took every step so slowly that it gave the impression as though she had slowed down time in her
                    room. It was hypnotizing to watch. Stepping backwards and holding my left hand; she pulled me so
                    softly towards her and into the middle of the room.
                </p>
                <p>
                    I lost all my sense of reality. I felt so powerless. I just couldn’t believe any of what was
                    actually going on! It was unfathomable.
                </p>
                <p>
                    With her left hand, Jane picked up and poured a portion of lotion into my left hand; all so gently!
                    My brain was working its ass off trying to get grip of whether it was all real or something was
                    actually fucking with my head!
                </p>
                <p>
                    Holding my left hand with both her hands; she began applying the lotion all over her chest,
                    alongside an erotic sound and facial expression.
                </p>
                <p>
                    I tried to restrain my hand but she pulled it back with a lot of authority and squeezed it so hard
                    on her chest centre. She then continued to rub herself with my hand all over her chest.
                </p>
                <p>
                    Whenever I felt it had started to touch one of the soft round ‘buddies’, I again tried to pull away
                    my hand; and again she pulled it back with this time a greater power squeezing those very good
                    ‘buddies’ that kept looking at me.
                </p>
                <p>
                    Ever so gently, from the neck down, she rubbed her body with my hand till it touched the towel. With
                    her eyes closed, facial expression and body movement hypnotizing, she pushed my hand further down
                    till the towel dropped onto the floor.
                </p>
                <p>
                    I had never felt this kind of energy from a female species! But the moment the towel reached the
                    ground; Jane pushed me so aggressively onto her bed and then jumped straight on top of me.
                </p>
                <p>
                    Now I knew what was going on! There was no other explanation; my brain had now concluded from
                    piecing the events together, that this was happening and there was no stopping it!
                </p>
                <p>
                    I thereon braced myself for a ride I had already been put on without my knowledge. I was now fully
                    awake to the show going on. It was going down; knowing I wouldn’t stop it successfully, I chose to
                    sign up!
                </p>
                <p>
                    As a fully signed up member of the team; I tried to contribute, pulling my core up trying to work
                    this gorgeous treasure in front of my eyes. No sooner had I moved even an inch than I was pushed
                    back ever so gently and authoritatively by the softest hand I had ever felt.
                </p>
                <p>
                    When my core finally gave up resisting, flat on the bed, she began unbuttoning my shirt and for the
                    love of God I just couldn’t fail to get hypnotized! The two kept on dangling in my eyes. Jane was in
                    full control at that time. Those two round ‘buddies’ broke the last line of defense I had when they
                    kept on swinging above me.
                </p>
                <p>
                    I gave it all up – the control! She held it in her own hands and she damn right knew how to use it.
                    My shirt unbuttoned, she began kissing her way down my core; and each time I tried to react to the
                    sensations her cool soft lips caused on my skin, she would push me back down so hard and go again
                    back to my lips.
                </p>
                <p>
                    I was so powerless! It wasn’t just the body; I felt it all up even inside my head. She had grabbed
                    all the power centers. And she gad damn knew what to do with that kind of power; and how to do it!
                </p>
                <p>
                    She was super professional. The professionalism with which she handled her work arrested all my
                    thoughts and that’s how she took control of my mind! Slow, gentle but so full of authority; I had
                    never felt anything like it – never! She was so good!
                </p>
                <p>
                    As she tried to undo my belt, her neighbor began knocking so loudly on the door asking for a flat
                    iron to prepare for her afternoon lectures; a reason she screamed so joyfully on the other side of
                    the door.
                </p>
                <p>
                    Yeah, I know! That moment of panic; rushing to get a dress that doesn’t require too much buttoning,
                    to go and open up for her friend!
                </p>
                <p>
                    I too quickly buttoned up and looked for an innocent sitting near the window. When she opened up,
                    the neighbor entered full swing! Seeing me inside; she blushed, looked at Jane, picked up the flat
                    iron and left.
                </p>
                <p>
                    &copy;LUKARD
                </p>
            </div>
        </div>
    </div>
    <!--fixed background-->

    <!--Emoji section-->

    <!--meet our team-->
    <div class="container">
        <div class="row text-center">
            <div class="col-12">
                <h1 class="display-4">The Lukard Team</h1>
                <hr style="width: 100%; border: 2px solid brown;">
            </div>
        </div>
    </div>

    <!--cards-->
    <!--Connect-->
    <div class="container-fluid padding">
        <div class="row text-center padding">
            <div class="col-12">
                <h3>Connect</h3>
            </div>
            <div class="col-12 social padding">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-envelope-open"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-google-plus"></i></a>
                <a href="#"><i class="fa fa-youtube"></i></a>
            </div>
        </div>
    </div>
    <div class="container-fluid text-white" style="background-color: #031236;">
        <div class="row text-center text-white">
            <div class="col-md-4">
                <hr style="border: 2px solid white;">
                <h3>Campus Projects</h3>
                <hr style="border: 2px solid white;">
                <p>CampusWeekly</p>
                <p>YammieShoppers</p>
                <p>BeaconHostels</p>
                <p>BeaconUG</p>
            </div>
            <div class="col-md-4">
                <hr style="border: 2px solid white;">
                <h3>Following</h3>
                <hr style="border: 2px solid white;">
                <p>Facebook</p>
                <p>Whatsapp</p>
                <p>Twitter</p>
                <p>Instagram</p>
            </div>
            <div class="col-md-4">
                <hr style="border: 2px solid white;">
                <h3>Related Sites</h3>
                <hr style="border: 2px solid white;">
                <p>
                    <a href="https://www.yammieshoppers.com" target="_blank"
                        style="text-decoration: none; color: white;">YammieShoppers</a>
                </p>
                <p>
                    <a href="https://thebee.lirauni.ac.ug" target="_blank"
                        style="text-decoration: none; color: white;">E - Learning</a>
                </p>
                <p>
                    <a href="https://student.lirauni.ac.ug" target="_blank"
                        style="text-decoration: none; color: white;">Student Portal</a>
                </p>
                <p>
                    <a href="https://lirauni.ac.ug" target="_blank"
                        style="text-decoration: none; color: white;">University Website</a>
                </p>
            </div>
        </div>
        <hr style="border: 2px solid white;">
        <p class="text-center">&copy; Copyright 2021 - Adventures of Lukard. All Rights Reserved.</p>
    </div>

</body>

</html>