<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lukard Adventures</title>
    <link rel="shortcut icon" href="images/lukardventuresFavicon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    {{!--
    <link rel="stylesheet" href="css/bootstrap.min.css"> --}}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="fonts/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <!--Navigation-->
    <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="images/lukardVenturesLogo.png " alt="logo"
                    style=" height: 80px; width: 120px; background-color: rgb(255, 255, 254);">
            </a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarResponsive">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse text-right" id="navbarResponsive">
                <ul class="navbar-nav ml-auto ">
                    <li class="nav-item ">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="/story">Venture 1</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="/lovestory">Venture 2</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="/angry">Venture 3</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/fear">Venture 4</a>
                    </li>
                </ul>
            </div>

        </div>
    </nav>

    <!--slider images-->

    <!--JUmbotron-->

    <!--welcome-->


    <!--Three column selection-->

    <!--Two column section-->
    <div class="container">
        <h1 style="text-align: center;">IT WASN’T FAIR OF ME</h1>

        <hr style="width: 100%; border: 10px solid #051e58;">

        <div class="row padding">
            <div class="col-md-12 col-lg-6">

                <p>
                    Look, am sorry! I really am. I am sorry I went all-ninja on you last time. It wasn’t any fair of me.
                    You didn’t deserve any of it. Please forgive me; I intend to keep myself in check next time.
                </p>
                <p>
                    Not that I am trying to justify my actions, no! I just do find it rather appropriate that you know
                    what I feel inside. Things are not exactly as they used to be. You remember the good old times, when
                    we had all the fun together, don’t you?
                </p>

                <p>
                    I must say, in light of all of that, I am very guilty. Yes, I am – very convicted indeed! Why?
                    Because I participated in it! How? Obviously, since it isn’t as fun as it used to be, that means I
                    let it slide away – either directly or indirectly! I am truly very sorry.
                </p>
                <p>
                    I must say also that it is definitely a fact; that we have got distant over time. When we had just
                    left, we always kept in touch. We did. A call or even a text to one another every now and then! We
                    made it work. We stayed connected. It was all so cute.
                </p>
                <p>
                    We worked on our relationship; we made it grow, and we both took the responsibility – we didn’t just
                    leave it to just one of us! As much as it was work, it didn’t really seem like it; because we
                    enjoyed it – there was love in it. It was all done out of love. We wanted it, we did it and we were
                    proud of it. We made each other happy.
                </p>
                <p>
                    Even then, we always had our bad days; there were times when things didn’t exactly look good. Times
                    when we fought – over the phones! But we still didn’t let our ego and anger stand in the way of what
                    was truly more important – the love we had for each other!
                </p>
                <p>
                    We worked things out. We talked about it. We were sorry, accepted our faults and laughed about it
                    all over again. It was all so cute! We were never perfect, but it didn’t stop us at working things
                    out; at growing ourselves, at loving each other. No, that never stood a chance! We always found a
                    way to smile at the end of it all. We had become one!
                </p>
                <p>
                    Then along the lines came something I didn’t really see at first. It grew amidst us. And within no
                    time, it had outgrown all that which we had built up together. Its fruits made more seeds which in
                    turn made more of itself and its other children. We grew apart; slowly but surely!
                </p>
                <p>
                    With time I stopped confiding in you; the calls reduced, the texts slowly withered away and there
                    was a very big gap fully grown in between the two of us. I wasn’t scared at all at first; I thought
                    to myself, “this must be natural or something like that – it’s not like I haven’t seen it before
                    with other people. It’s no big deal; we’ll be fine.”
                </p>
                <p>
                    I gave up responsibility. I stopped feeling the need to check up on you; later, I actually felt you
                    too had given up. Finally, we all just let it be. Our once shining energies now dim at best. We gave
                    up on each other! We grew weary and tired. Now, it felt like work that which never used to feel that
                    way.
                </p>
                <p>
                    Once in a while when we felt so guilty of our distance, one of us would reach out to check whether
                    the other was still alive. Alive! Yes, we had fallen so deep; it was now all the way to that – just
                    checking whether we were still alive! The love burnt out. It did. It was now just loyalty still
                    holding the strings together.
                </p>
                <p>
                    We were no longer in love; no, we weren’t! We were just loyal – still loyal to each other. We still
                    believed in something we had together; but it was no longer the cute love we used to have. No, now
                    it was some sense of responsibility – some loyalty still in our hearts that held on. We had grown
                    apart!
                </p>
                <p>
                    With the gap between us, I confided in someone else; I gave up the responsibility and let someone
                    else take advantage of it. And again, at first it didn’t feel so wrong; it didn’t at all! I was just
                    talking to someone else about my life, and slowly because subconsciously you were still on my mind
                    and in my life, our relationship came up in conversation once or twice.
                </p>
            </div>
            <div class="col-lg-6">
                <p>
                    Fine, twice or thrice. Maybe four or five times! Okay, it came up so many times! So many times
                    because I still loved you! I never stopped loving you. No, I just stopped showing it. With this new
                    person, I slowly began changing topics – to be fair, it was them. They slowly slipped in new
                    discussion topics, jokes and all. And that’s how I became closer to someone new I never even thought
                    I would be friends with.
                </p>
                <p>
                    And somehow I think because we were new friends, they always seemed to care. They would call me;
                    text, every now and then! Soon or later, we had come from strangers to the best of friends in no
                    time. Even then, in as much as I felt it was growing so fast, I didn’t think it would become
                    anything else. We were just friends – or so I believed.
                </p>
                <p>
                    Slowly, with this friend of mine, we began crossing lines. We innocently began breaking boundaries
                    in a joking manner. It was a little fun! Yes, at the time it was. I didn’t even feel we were
                    breaking the friendship boundaries. I just enjoyed the fun; yes, because I missed it. We used to
                    have it – the fun – with you all the time. So, I missed it. And now, I had it. Maybe from someone
                    else, but it was fun nonetheless.
                </p>
                <p>
                    Then came the day we crossed the last line. I was filled with so much guilt I couldn’t even look at
                    my own reflection. I had betrayed you; I had betrayed everything that I believed in. I trashed all
                    that! I was so ashamed of myself. The first thought that came to mind was you! Yes, I wanted to tell
                    you something; I just didn’t know what. I had fallen short of loyalty, the very last thing we shared
                    together!
                </p>
                <p>
                    It was never me to go against my core values. Loyal to the end! I had lost it. And I didn’t know
                    what to do afterwards. Twisted as the world holds its humor, that was the very week you reached out.
                    After all that time – all those days – you chose that week to finally check whether I was still
                    alive, as the trend had been between us!
                </p>
                <p>
                    I didn’t know what to tell you. I didn’t. Strange also, that was the very first time your call
                    sounded as happy as it used to back then when we were cute little love birds. It all just shouted
                    guilt into my heart. I couldn’t believe I had betrayed what we had. That was when it all came
                    rushing back to me; when I realized it was my responsibility.
                </p>
                <p>
                    Everything! I was responsible. I gave up, for starters. I let the candle burn out. Yes, I know it
                    comes back to the both of us. I am just assuming my very end of the responsibility. I am so sorry.
                </p>
                <p>
                    With many failures, this friend of mine finally managed to get to talk to me and straighten things
                    out; to get over the awkwardness between the two of us. With a very heated emotional discussion, we
                    chose to remain friends and never cross such lines ever again. They handled it so well days after
                    that but me! I was still feeling the guilt.
                </p>
                <p>
                    With time, things came back to normal. And we were back to fully fledged friends, cracking jokes and
                    all. Normal as it could get, you and me were also back to our new normal. The trending normal at the
                    time, just checking on each other after weeks’ end!
                </p>
                <p>
                    The last time you called and I replied all so ninja, I had issues I was going through. And as was
                    the trend those past few weeks, I confided in that friend of mine. So when you reached out and
                    wanted to make it all about you, blaming me for not answering your calls, I just wouldn’t control
                    myself!
                </p>
                <p>
                    I just blew all my stress right onto you. I am so sorry about all that. I shouldn’t have done that.
                    You definitely did not deserve any of it. I know coming out to you may not exactly mean anything to
                    you right now; but I do hope that it would at least let you know how I feel about you. I want you to
                    know that I still love you so much. I remain very sorry indeed. Talk to you soon!
                </p>
                <p>
                    &copy;LUKARD
                </p>
            </div>
        </div>
    </div>
    <!--fixed background-->

    <!--Emoji section-->

    <!--meet our team-->
    <div class="container">
        <div class="row text-center">
            <div class="col-12">
                <h1 class="display-4">The Lukard Team</h1>
                <hr style="width: 100%; border: 2px solid brown;">
            </div>
        </div>
    </div>

    <!--cards-->
    <!--Connect-->
    <div class="container-fluid padding">
        <div class="row text-center padding">
            <div class="col-12">
                <h3>Connect</h3>
            </div>
            <div class="col-12 social padding">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-envelope-open"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-google-plus"></i></a>
                <a href="#"><i class="fa fa-youtube"></i></a>
            </div>
        </div>
    </div>
    <div class="container-fluid text-white" style="background-color: #031236;">
        <div class="row text-center text-white">
            <div class="col-md-4">
                <hr style="border: 2px solid white;">
                <h3>Campus Projects</h3>
                <hr style="border: 2px solid white;">
                <p>CampusWeekly</p>
                <p>YammieShoppers</p>
                <p>BeaconHostels</p>
                <p>BeaconUG</p>
            </div>
            <div class="col-md-4">
                <hr style="border: 2px solid white;">
                <h3>Following</h3>
                <hr style="border: 2px solid white;">
                <p>Facebook</p>
                <p>Whatsapp</p>
                <p>Twitter</p>
                <p>Instagram</p>
            </div>
            <div class="col-md-4">
                <hr style="border: 2px solid white;">
                <h3>Related Sites</h3>
                <hr style="border: 2px solid white;">
                <p>
                    <a href="https://www.yammieshoppers.com" target="_blank"
                        style="text-decoration: none; color: white;">YammieShoppers</a>
                </p>
                <p>
                    <a href="https://thebee.lirauni.ac.ug" target="_blank"
                        style="text-decoration: none; color: white;">E - Learning</a>
                </p>
                <p>
                    <a href="https://student.lirauni.ac.ug" target="_blank"
                        style="text-decoration: none; color: white;">Student Portal</a>
                </p>
                <p>
                    <a href="https://lirauni.ac.ug" target="_blank"
                        style="text-decoration: none; color: white;">University Website</a>
                </p>
            </div>
        </div>
        <hr style="border: 2px solid white;">
        <p class="text-center">&copy; Copyright 2021 - Adventures of Lukard. All Rights Reserved.</p>
    </div>

</body>

</html>