<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lukard Adventures</title>
    <link rel="shortcut icon" href="images/lukardventuresFavicon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    {{!--
    <link rel="stylesheet" href="css/bootstrap.min.css"> --}}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="fonts/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <!--Navigation-->
    <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="images/lukardVenturesLogo.png " alt="logo"
                    style=" height: 80px; width: 120px; background-color: rgb(255, 255, 254);">
            </a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarResponsive">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse text-right" id="navbarResponsive">
                <ul class="navbar-nav ml-auto ">
                    <li class="nav-item ">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/story">Venture 1</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/lovestory">Venture 2</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/angry">Venture 3</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/fear">Venture 4</a>
                    </li>
                </ul>
            </div>

        </div>
    </nav>

    <!--slider images-->

    <!--JUmbotron-->

    <!--welcome-->


    <!--Three column selection-->

    <!--Two column section-->
    <div class="container">
        <h1 style="text-align: center;">Never trust someone who...</h1>
        <div style="margin-bottom: 10px;">
            <img class="d-block w-100" src="images/ben1.jpg" alt="First slide">
        </div>
        <div class="row padding">
            <div class="col-md-12 col-lg-6">

                <p>
                    Yeah, we always have that friend – I mean, in every group, there’s always that friend who makes
                    those statements that begin with “never…”. “Never do this, never say that,” they always say.
                </p>
                <p>
                    Now, in a very unusual way, I recently found out that God blessed me with this crew of guys I always
                    hang out with. And what’s great is that my crew has no such guy. Like seriously, I have never heard
                    any of my buddies say to me or to any other anything having statements beginning with the N word.
                    Ok, maybe once in a very big while. But the point is, none of buddies is that dude.
                </p>

                <p>
                    I was really happy when I realized that we’ve enjoyed the entire semester, we’ve had all the fun
                    minus our crew having anyone like that.
                </p>
                <p>
                    Yeah, you can imagine the smiles I had all over my face. I was having all those fun memories of
                    those moments we had back at campus with the guys. It was even a greater feeling having to relive
                    those moments inside my head and boom….that’s when it hit me.
                </p>
                <p>
                    It hit me so hard in the face that there and then I even felt my essence leave the body confinements
                    for a second. I am that dude in my group.
                </p>
                <p>
                    Yeah, funny as it may sound, I just realized of recent that I am the ‘Never freak’ inside my crew.
                </p>
                <p>
                    I have had crews my entire life at different points in my education and surely I had never been that
                    dude. There was always that nigga taken to be the brightest who when he said, “never...” everyone
                    listened.
                </p>
                <p>
                    Now, you can picture the shock on the face that looked straight back at me inside the mirror when it
                    found out it was that dude. Bro, that shit is shocking.
                </p>
                <p>
                    Alright, enough with that, here’s the real deal. In everyone’s life, at least in every dude’s life
                    because that one am sure, there is always a point where life hits you straight in the chest and you
                    even feel the air go out of you.
                </p>
                <p>
                    I call that moment a window of realization. Now, a funny thing happened to me recently and I am not
                    planning to bore you with the details.
                </p>
                <p>
                    But here’s it in short. So, I get this gov’t shit, it sends me upcountry. I get humble and am like,
                    “you know what, lemme do these three years quietly and leave this place.” I was very determined, “am
                    going to be humble; no girls, no spotlight, just me doing the three years and then see what comes
                    next in life. That’s it bro, that’s it,” I told myself.
                </p>
                <p>
                    Now, we all know: anyone can make plans, but it takes more than balls to stick to those plans. And
                    am sorry to say this but, at the time, I only had balls. So, yeah, in about two weeks, the dude
                    inside of me was starting to sense the girl situation going on at campus.
                </p>
                <p>
                    The girl radiation was already starting to hit through the many barricades I had placed to shield my
                    heart. You must know the plan could only work if I had kept the feelings away; if I had hidden them
                    so far deep inside under the very many built up layers in my heart.
                </p>
                <p>
                    My mistake, now that I realize, was that I was ignorant. Even in court, ignorance is no defense. I
                    was ignorant. I did not know anything about what really goes on at campus. At any campus in fact,
                    whether you are in Kampala or upcountry or out of the country. Campus life is just about the same.
                </p>
                <p>
                    My downfall came because I thought it was going to be different from the life I expected to be in
                    the city universities. That’s where I got it wrong.
                </p>
                <p>
                    Yes, maybe the details differ from one campus to another but trust me; I now know that the blueprint
                    is the same throughout.
                </p>
                <p>
                    So, I was that fool who planned to be off grid from all feelings. A fool because, I already have a
                    girl. A signal that things did not go exactly as planned. But that is already obvious by now so,
                    let’s just go back to the story.
                </p>
                <p>
                    Truth be told; at campus, there’s always that chic that turns all the guys’ heads when she passes
                    by, that even the nerds’ turn. Yeah, we too have a number of these. This therefore became the number
                    one battle that I had to fight, which of course I lost very fast due to the boy inside of me.
                </p>
                <p>
                    I don’t really know why but many times am faced with a decision making session that involves using
                    either my head or the guy in my pants, I always side with that dude. He’s really very convincing. He
                    encourages, cheers you up and makes you feel that for sure you can do it. He is a motivational
                    speaker. He makes you believe you can do anything. But the moment things go wrong, he turns into
                    this innocent little thing that really appears to have done no harm to anyone. There’s no way you
                    can tell people he was the culprit and they believe you.
                </p>
            </div>
            <div class="col-lg-6">
                <p>
                    Long story cut short, this dude put me in a situation where I was amidst three chics. Yeah, I can’t
                    really trace back all the dots from how it all began. I just know that it began and he is
                    responsible for the entire thing.
                </p>
                <p>
                    “Three chics? Really!!” you may be there wondering. Am telling you right now that if you’re a dude
                    and you haven’t reached that number by now or even a multiple of it then go get a life, bro. Yeah,
                    you’re surely not living. You are pretending.
                </p>
                <p>
                    Coming back to the three chics situation! You see the thing with having three chics at the same
                    time; you can never be certain which of them your real girl is. In any case, if you knew exactly who
                    she was in your heart, you would find some restraint on the other two and just let go of them,
                    right?
                </p>
                <p>
                    That’s a girls’ thought right there. Yes, that must be what the girl reading this is thinking just
                    about right now. My brother, these girls don’t know what it is having another decision influencing
                    body centre in your system – the guy inside the pants. Ohh! Don’t even mention him, he’s ruthless,
                    he’s aggressive, he’s naïve, and he’s very convincing. Everything he suggests seems just right till
                    it puts you right in the centre of trouble.
                </p>
                <p>
                    We can never do away with this fellow. That is a fact. Well, sometimes his decisions are why we are
                    what we are today. He lives in the moment. Just imagine being like that guy. Where you enjoy life
                    and all its pleasures in that moment and live never to regret because it is never you that takes the
                    blame. Wouldn’t that be just great?
                </p>
                <p>
                    If such a thing was there as an achievement in life, then everyone, man or woman would work their
                    ass off to get their hands on that prize; on that life of where you are not to be blamed for
                    enjoying life in all imaginable ways, no restrictions, no nothing, just you and your fantasies.
                </p>
                <p>
                    So again, three girls none labeled as the real girl. All blessed with special talents, unique to
                    themselves, a reason as to why I found it hard to let go of any of them.
                </p>
                <p>
                    With all the years of education and counseling I thought I had, I never thought even for a second,
                    that I would ever be that guy I always watched in the high school movies back when I was little;
                    code name player. I never thought I would ever run into an algorithm that would arrange a chain of
                    events leading me to such a situation at that time.
                </p>
                <p>
                    At this point in your reading, you may have already felt that am regretting; that it hurt me to
                    realize that I had become that fool, that piece of shit of a man. You are definitely right but only
                    on the part where it hurt. It hurt so damn much to realize I had become what I feared most and I
                    were ashamed of whom I saw in the mirror. Shocking as it may sound, you are definitely wrong on the
                    regret part. I do not regret any of it.
                </p>
                <p>
                    It is exactly because of that experience that I have a lesson today. It is from that very part of my
                    life that I have something to tell you, my friend. Yes, from it I am a better man than I would have
                    ever been if I didn’t pass straight through that patch of events.
                </p>
                <p>
                    And to the guys, am not penning this down to join those guys who tell you to watch from their lives
                    and not make the same mistake. No bro, I aren’t doing that. A mistake in art is a design and I am
                    not robbing that from you my friend.
                </p>
                <p>
                    All I am saying is that it is your decision. That when the moment comes, live through it; make a
                    decision and do not regret any of it. Because you don’t choose the consequences of the decisions you
                    make. When you lift one end of the stick, you pick up the other end too.
                </p>
                <p>
                    You still remember that I am the never guy, right? So, never fail to choose, never fail to make a
                    decision, and never be the indecisive bitch. Bro, it’s no life if you have to keep being a coward.
                    Which kind of a father would you ever make if you fear taking decisions, even blindly at times!
                </p>
                <p>
                    That was my entire message, thank you for riding along up to the end. And for those who wish to
                    know, I am currently having room for only one beautiful lady in my heart. She’s an angel in my life.
                </p>
                <p>
                    &copy;LUKARD
                </p>
            </div>
        </div>
    </div>
    <!--fixed background-->

    <!--Emoji section-->

    <!--meet our team-->
    <div class="container">
        <div class="row text-center">
            <div class="col-12">
                <h1 class="display-4">The Lukard Team</h1>
                <hr style="width: 100%; border: 2px solid brown;">
            </div>
        </div>
    </div>

    <!--cards-->

    <!--Connect-->
    <div class="container-fluid padding">
        <div class="row text-center padding">
            <div class="col-12">
                <h3>Connect</h3>
            </div>
            <div class="col-12 social padding">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-envelope-open"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-google-plus"></i></a>
                <a href="#"><i class="fa fa-youtube"></i></a>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-dark text-white">
        <div class="row text-center text-white">
            <div class="col-md-4">
                <hr style="border: 2px solid white;">
                <h3>Campus Projects</h3>
                <hr style="border: 2px solid white;">
                <p>CampusWeekly</p>
                <p>YammieShoppers</p>
                <p>BeaconHostels</p>
                <p>BeaconUG</p>
            </div>
            <div class="col-md-4">
                <hr style="border: 2px solid white;">
                <h3>Following</h3>
                <hr style="border: 2px solid white;">
                <p>Facebook</p>
                <p>Whatsapp</p>
                <p>Twitter</p>
                <p>Instagram</p>
            </div>
            <div class="col-md-4">
                <hr style="border: 2px solid white;">
                <h3>Related Sites</h3>
                <hr style="border: 2px solid white;">
                <p>
                    <a href="https://www.yammieshoppers.com" target="_blank"
                        style="text-decoration: none; color: white;">YammieShoppers</a>
                </p>
                <p>
                    <a href="https://thebee.lirauni.ac.ug" target="_blank"
                        style="text-decoration: none; color: white;">E - Learning</a>
                </p>
                <p>
                    <a href="https://student.lirauni.ac.ug" target="_blank"
                        style="text-decoration: none; color: white;">Student Portal</a>
                </p>
                <p>
                    <a href="https://lirauni.ac.ug" target="_blank"
                        style="text-decoration: none; color: white;">University Website</a>
                </p>
            </div>
        </div>
        <hr style="border: 2px solid white;">
        <p class="text-center">&copy; Copyright 2021 - CampusWeekly. All Rights Reserved.</p>
    </div>

</body>

</html>