<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CampusWeekly</title>
    <link rel="shortcut icon" href="images/lukardventuresFavicon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    {{!--
    <link rel="stylesheet" href="css/bootstrap.min.css"> --}}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="fonts/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <!--Navigation-->
    <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="images/lukardVenturesLogo.png " alt="logo"
                    style=" height: 80px; width: 120px; background-color: rgb(255, 255, 254);">
            </a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarResponsive">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse text-right" id="navbarResponsive">
                <ul class="navbar-nav ml-auto ">
                    <li class="nav-item ">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/story">Campus 101</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/interview">Interviews</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/entertainment">Entertainment</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/lifestyle">Lifestyle</a>
                    </li>
                </ul>
            </div>

        </div>
    </nav>

    <!--slider images-->

    <!--JUmbotron-->

    <!--welcome-->


    <!--Three column selection-->

    <!--Two column section-->
    <div class="container">
        <div class="row padding">
            <div class="col-md-12 col-lg-6">
                <h3>They Are Back!</h3>

                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="d-block w-100" src="images/midwife2.jpg" alt="First slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="images/midwife1.jpg" alt="Second slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="images/midwife3.jpg" alt="Third slide">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>

                <p>
                    I would understand why to many out there, this would most probably seem like a normal occurrence.
                    But hey, to me, it is nothing of the sort. I have got this loud neighbour. Always too joyful; makes
                    the entire block vibrate with noise, she’s been a real pain.
                </p>
                <p>
                    But for the last couple of weeks, I felt a void; something was lacking, someone was missing! Hey,
                    don’t get me wrong; I do have other neighbours. But for close to an entire month, I have been bored
                    as hell. Till just recently! So, when I say they are back, I pretty much really mean it.
                </p>

                <p>
                    Leaving on Monday, 22nd February, 2021, dispatched to various hospitals in the region, the present
                    day year two midwifery students completed their first internship program with the first lot
                    reporting back to campus on Friday, 19th March, 2021.
                </p>
            </div>
            <div class="col-lg-6">
                <p>
                    The CampusWeekly™ lens happened to be in the vicinity of some of these extremely happy-to-be-back
                    members of the health community. Preferring anonymity, the jubilant midwives-to-be interviewed
                    narrated their experiences to our reporters.
                </p>
                <p>
                    “The Bachelor’s degree in Nursing and Midwifery is well known for its interestingly unique
                    internship program structure. After their semester two, during the recess term, the previously year
                    one students are dispatched to different hospitals for their internship field placements.
                </p>
                <p>
                    This basically involves and is aimed at students getting well acquainted with handling and managing
                    patients in the various hospital departments,” an authority in the subject, a year four student of
                    BSc. Nursing and Midwifery explained to one of our reporters.
                </p>
                <p>
                    “These year-one interns don’t really touch the pregnant women when it comes to child birth. They
                    usually go as far as antenatal care; and by any luck, attend the procedures in the ward but only in
                    observation mode, not operating on the mothers.
                </p>
                <p>
                    It is also during this internship that the students learn about the professional code of conduct.
                    They observe and learn about the level of professionalism expected of a health worker. The molarity
                    and disciplinary boundaries expected to be observed by any medical personnel are all learnt during
                    this period. This is because strictly speaking, no one is ever going teach them any of that in
                    theory.”
                </p>
                <p>
                    Broken down into groups, the students were sent to different hospitals including; Lira Regional
                    Referral Hospital, Lira University hospital, Health Centres III and IV which included Oguru,
                    Alebtong, Dokolo, Orum, Aduku, Anyeke, Aboke And Amach.
                </p>
                <p>
                    The interns we talked to mentioned challenges like the language barrier for some of the students who
                    didn’t speak the native language of the patients they were treating. Being in a new environment,
                    some didn’t find the facilities of the places they were assigned to very appealing.
                </p>
                <p>
                    In a way, the internship training opened the eyes of these midwives-to-be; to see that saving lives,
                    which is the job, is sometimes going to be needed even in the not exactly very appealing of places.
                    With the real life scenario lessons that our very good friends received during the field placement,
                    many of them have appreciated the chance to be a part of the team of soldiers saving lives all
                    around the country.
                </p>
                <p>
                    For more coverage on the internship packages in midwifery and other courses offered at campus,
                    please stay tuned in. I am Lukenge Benard, with Campus News 101, reporting for the CampusWeekly™.
                    Have a blessed week.
                </p>
                <p>
                    &copy;LUKARD
                </p>
            </div>
        </div>
    </div>
    <!--fixed background-->

    <!--Emoji section-->

    <!--meet our team-->
    <div class="container">
        <div class="row text-center">
            <div class="col-12">
                <h1 class="display-4">The NewsTeam</h1>
                <hr style="width: 100%; border: 2px solid brown;">
            </div>
        </div>
    </div>

    <!--cards-->
    <div class="container-fluid padding">
        <div class="row padding">
            <div class="col md-4">
                <div class="card">
                    <img class="card-imd-top" src="images/matia3.jpg" alt="" style="height: 300px; width: 100%;">
                    <div class="card-body">
                        <h4 class="card-title">Nyanzi Matia</h4>
                        <p class="card-text">
                            Web Developer - PHP, JS
                            <br>Director, JCM Technologies
                        </p>
                        <a class="btn btn-outline-secondary" href="#">See Profile</a>
                    </div>


                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-imd-top" src="images/ben.JPG" alt="" style="height: 300px; width: 100%;">
                    <div class="card-body">
                        <h4 class="card-title">Lukenge Lukard</h4>
                        <p class="card-text">
                            Back End Web Developer - NodeJS,
                            <br>Chief Editor, Campus News
                        </p>
                        <a class="btn btn-outline-secondary" href="#">See Profile</a>
                    </div>


                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-imd-top" src="images/sam.jpg" alt="" style="height: 300px; width: 100%;">
                    <div class="card-body">
                        <h4 class="card-title">Xamuel UG</h4>
                        <p class="card-text">
                            Full Stack Web Developer - NodeJS
                            <br>Co-Author, YammieShoppers.com
                        </p>
                        <a class="btn btn-outline-secondary" href="#">See Profile</a>
                    </div>


                </div>

            </div>
        </div>
    </div>
    <!--Connect-->
    <div class="container-fluid padding">
        <div class="row text-center padding">
            <div class="col-12">
                <h3>Connect</h3>
            </div>
            <div class="col-12 social padding">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-envelope-open"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-google-plus"></i></a>
                <a href="#"><i class="fa fa-youtube"></i></a>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-dark text-white">
        <div class="row text-center text-white">
            <div class="col-md-4">
                <hr style="border: 2px solid white;">
                <h3>Campus Projects</h3>
                <hr style="border: 2px solid white;">
                <p>CampusWeekly</p>
                <p>YammieShoppers</p>
                <p>BeaconHostels</p>
                <p>BeaconUG</p>
            </div>
            <div class="col-md-4">
                <hr style="border: 2px solid white;">
                <h3>Following</h3>
                <hr style="border: 2px solid white;">
                <p>Facebook</p>
                <p>Whatsapp</p>
                <p>Twitter</p>
                <p>Instagram</p>
            </div>
            <div class="col-md-4">
                <hr style="border: 2px solid white;">
                <h3>Related Sites</h3>
                <hr style="border: 2px solid white;">
                <p>
                    <a href="https://www.yammieshoppers.com" target="_blank"
                        style="text-decoration: none; color: white;">YammieShoppers</a>
                </p>
                <p>
                    <a href="https://thebee.lirauni.ac.ug" target="_blank"
                        style="text-decoration: none; color: white;">E - Learning</a>
                </p>
                <p>
                    <a href="https://student.lirauni.ac.ug" target="_blank"
                        style="text-decoration: none; color: white;">Student Portal</a>
                </p>
                <p>
                    <a href="https://lirauni.ac.ug" target="_blank"
                        style="text-decoration: none; color: white;">University Website</a>
                </p>
            </div>
        </div>
        <hr style="border: 2px solid white;">
        <p class="text-center">&copy; Copyright 2021 - CampusWeekly. All Rights Reserved.</p>
    </div>

</body>

</html>