<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lukard Adventures</title>
    <link rel="shortcut icon" href="images/lukardventuresFavicon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="fonts/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <!--Navigation-->
    <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="images/lukardVenturesLogo.png " alt="logo"
                    style=" height: 80px; width: 120px; background-color: rgb(255, 255, 254);">
            </a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarResponsive">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse text-right" id="navbarResponsive">
                <ul class="navbar-nav ml-auto ">
                    <li class="nav-item ">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="/story">Venture 1</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="/lovestory">Venture 2</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="/angry">Venture 3</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/fear">Venture 4</a>
                    </li>
                </ul>
            </div>

        </div>
    </nav>

    <!--slider images-->

    <!--JUmbotron-->

    <!--welcome-->


    <!--Three column selection-->

    <!--Two column section-->
    <div class="container">
        <h1 style="text-align: center;">IF YOU LET ME</h1>

        <hr style="width: 100%; border: 10px solid #051e58;">

        <div class="row padding">
            <div class="col-md-12 col-lg-6">

                <p>
                    I have been having recurring dreams, dreams about you! At first I didn’t think it was any serious. I
                    mean, it was just a dream; I could easily have dreamt about anyone. When the dreams continued, I
                    still didn’t pay too much attention. As a matter of fact, it was kind of fun dreaming about you at
                    the time. So, I enjoyed the fun as it lasted till it crossed a line.
                </p>
                <p>
                    Yes, I thought the fun was only for a few days or so; and that’s why I didn’t mind but when it
                    spanned over a week, I was freaked out. Totally freaked out! Yes, but not as freaked out as I was
                    when it crossed to over a week and a half. Now, that was a gad damn situation. I was scared. Damn
                    right, I was! Fun has it’s time, which is alright; but it also has its limits. This one never had
                    that. So it got my attention. I was scared shitless.
                </p>

                <p>
                    Well, not shitless at first! Obviously, I tried to think through things; tried to replay and rewind,
                    trying to get a loophole to remedy the situation. Which, of course, I didn’t find! At least not at
                    the time! So when the time got more pressing and the situation more concerning, I snapped.
                </p>
                <p>
                    Twisted as my sense of humor gets sometimes, I thought to myself, “Well, maybe if I orchestrated to
                    anger the person in the physical world, maybe, just maybe; the dreams would at least stop!” Have to
                    admit, it wasn’t my best self at the time, but I did it nonetheless. And to no one’s surprise, my
                    stupid head began to sense the arrogance of the situation only when I was exactly in the middle of
                    everything. I couldn’t go back – I would seem stupid, which of course I was! And I wouldn’t continue
                    with the “annoying”, which had crossed a line at the time.
                </p>
                <p>
                    It was a stalemate for me. All the moves were now left to you. The ball was in your hands. I swear
                    if it was left up to me and I was in your shoes, the relationship wasn’t crossing over to another
                    second. Basing on the way I stupidly brought up extremely annoying lines each time I opened my
                    stupid lips. It was the end, if it was up to me to decide. No one could have survived through that
                    arrogance. I had crossed a line and I hadn’t explained the cause of my irrational behaviour at all.
                </p>

            </div>
            <div class="col-lg-6">
                <p>
                    I was just waiting for those magical words so that I would start off the course of regretting my
                    entire life. When they didn’t come, I got scared. I got nervous. I got everything; sweaty, confused,
                    shocked, surprised – everything! It was just unfathomable. The level of maturity I witnessed that
                    day left me, first of all, speechless, wondering and most of all jealous.
                </p>
                <p>
                    Yes, I was so jealous at how you handled the entire thing. There and then, I wanted to be like you;
                    I yearned, to be like you. Mature! Days after all that, I began to realize how lucky I was! Yes, so
                    lucky! I had never really experienced that which I witnessed on that day. I got a taste of what a
                    mature relationship looks like. And I was thirsty for more.
                </p>
                <p>
                    I had never wanted you more. Now, I craved for it. It was no longer just about love. I had
                    discovered something sweeter than just that. Maturity! Security! Wow, I was arrested by those two.
                    And I wanted to be their prisoner forever; or yours to be specific.
                </p>
                <p>
                    I wanted to be sorry for what I had done, and I was for so long. But not as thankful as I am today
                    for having discovered a new feel of things. I was always scared of commitment. It seemed really
                    frightening to do but ever since that incidence, it has never seemed so simple in my life.
                </p>
                <p>
                    Maybe this is all Stockholm’s syndrome speaking; or any other syndrome. But you know what? I don’t
                    care. I know what I feel; and this is what I want. I am ready to face it all – with you! If you let
                    me!
                </p>
                <p>
                    I know it’s all not milk and honey every second. But I am ready. Yes, for the worst and the best of
                    the days. I want to walk it all with you. The complete package; give you your space when that’s what
                    you need, be with you when that’s what is ideal. Piss you off as frequently as necessary and more
                    importantly, cheer you up as long as it takes. I am ready for all the surprises involved. The bad
                    and the good! If you let me!
                </p>

                <p>
                    &copy;LUKARD
                </p>
            </div>
        </div>
    </div>
    
    {{> footer}}

</body>

</html>